@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

::ng-deep .home-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(75px);
    background-color: var(--secondary-bg);
    border-bottom: 2px solid var(--border-color);
    padding: 0 rem(20px);
    z-index: 10;
    transition: all 0.3s ease-in-out;

    .logo {
        @include logo;
        padding: 15px;
        transition: all 0.3s ease-in-out;

        @include for-mobile-narrow-layout {
            font-size: rem(25px);
        }

        @include for-mobile-normal-layout {
            font-size: rem(30px);
        }

        @include for-mobile-wide-layout {
            font-size: rem(35px);
        }
    }

    .home-page-header-main-container {
        display: flex;
        align-items: center;
        gap: rem(20px);
        z-index: 20;

        .search-bar {

            .search-all-input-container {
                input {
                    max-width: rem(270px);
                }
            }
        }
    }

    .search-res-container {
        position: absolute;
        top: rem(74px);
        right: 1%;
        width: rem(370px);
        min-height: rem(350px);
        background-color: var(--secondary-bg);
        z-index: 10;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        z-index: 20;

        &.no-res-msg-mode {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tippy {
            position: absolute;
            height: 0;
            width: 0;
            border-left: 10px solid transparent;
            border-bottom: 10px solid var(--secondary-bg);
            left: 50%;
            transform: translate(-50%);
            top: -2.5%;
            border-right: 10px solid transparent;
        }
    }

    @include for-small-layout {
        display: none;
    }
}