@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

::ng-deep .home-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(75px);
    background-color: var(--secondary-bg);
    border-bottom: 2px solid var(--border-color);
    padding: 0 rem(20px);

    .logo {
        @include logo;
        padding: 15px;
    }

    .main-container {
        display: flex;
        align-items: center;

    }

    .search-bar {

        .search-all-input-container {
            input {
                max-width: rem(270px);
            }
        }
    }
}