<section class="actions">
    <div class="main-btn-container">
        <div>
            <like-icon [isLiked]="isLiked" (click)="onToggleLike()"></like-icon>
        </div>
        <div>
            <svg-icon src="../../../assets/svgs/comment.svg" (click)="onAddComment()"
                [svgStyle]="{ 'color': commentIconUnactiveMode ? iconColor : 'var(--secondary-color)'}"
                #svgIcon></svg-icon>
        </div>
        <div>
            <svg-icon src="../../../assets/svgs/paper-airplane.svg" (click)="onToggleModal()" #svgIcon></svg-icon>
        </div>
    </div>
    <div class="btn-save-container" (click)="onToggleSave()">
        <svg-icon src="../../../assets/svgs/bookmark-outline.svg" *ngIf="!isSaved else solidBookmark"
            #svgIcon></svg-icon>
        <ng-template #solidBookmark>
            <svg-icon src="../../../assets/svgs/bookmark-solid.svg" #svgIcon></svg-icon>
        </ng-template>
    </div>
</section>