@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    fa-icon {
        font-size: rem(24px);
    }

    .main-btn-container {
        display: flex;
        gap: 15px;

        >*:first-child {
            padding-bottom: 6px;
            font-size: 24px;
        }

        >* {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .solid-heart {
            @include solid-heart;
        }
    }
}