<section class="actions">
    <div class="main-btn-container">
        <div>
            <like-icon [isLiked]="isLiked" (click)="onToggleLike()"></like-icon>
        </div>
        <div>
            <svg-icon src="../../../assets/svgs/comment.svg" (click)="onAddComment()"
                [svgStyle]="{ 'color': commentIconDarkMode ? '#262626' : '#8e8e8e'}"></svg-icon>
        </div>
        <div>
            <svg-icon src="../../../assets/svgs/paper-airplane.svg" (click)="onToggleModal()"></svg-icon>
        </div>
    </div>
    <div class="btn-save-container" (click)="onToggleSave()">
        <svg-icon src="../../../assets/svgs/bookmark-outline.svg" *ngIf="!isSaved else solidBookmark"
            [svgStyle]="{'height':24,'width':24,'color':'black'}"></svg-icon>
        <ng-template #solidBookmark>
            <svg-icon src="../../../assets/svgs/bookmark-solid.svg"></svg-icon>
        </ng-template>
    </div>
</section>