<section class="actions">
    <div class="main-btn-container">
        <like-icon [isLiked]="isLiked" (click)="onToggleLike()"></like-icon>
        <fa-icon [icon]="faComment" [routerLink]="['h/post/', post.id]"></fa-icon>
        <fa-icon [icon]="faPaperPlane" (click)="onToggleModal()"></fa-icon>
    </div>
    <div class="btn-save-container">
        <fa-icon (click)="onToggleSave()" [icon]="faBookmark" *ngIf="!isSaved else solidBookmark"></fa-icon>
        <ng-template #solidBookmark>
            <fa-icon (click)="onToggleSave()" [icon]="faBookmarkSolid"></fa-icon>
        </ng-template>
    </div>
</section>