@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

::ng-deep .painter-settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;


    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15% 70% 15%;

    .btn-container {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;

        button {
            color: white;
            width: fit-content;
            height: fit-content;
            padding: rem(10px) 0;
            font-size: rem(18px);
            font-weight: bold;
            cursor: pointer;
            text-transform: capitalize;
        }
    }

    .btn-undo {
        grid-column: 1;
        grid-row: 1;
    }

    .btn-save {
        grid-column: 3;
        grid-row: 1;
    }


    .stroke-size-container {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        grid-row: 2;

        .mat-slider-vertical {
            height: rem(200px);
            cursor: pointer;
        }
    }

    .color-picker-container {
        grid-column: 3;
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    &.painter-active {
        display: none;
    }
}