@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';

.story-details {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--story-bg);
    z-index: 10;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: rem(15px);

        .logo {
            @include logo;
            font-size: rem(20px);
            color: white;
        }

        z-index: 10;
    }

    .main-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;


    }
}