<section class="post-options-modal" *ngIf="!isConfirmDeleteMsgShown">
    <button class="clean-btn delete-btn" (click)="onToggleConfirmDelete()">Delete</button>
    <button class="clean-btn">Edit</button>
    <button class="clean-btn" (click)="onToggleLikeDisplay()">{{toggleLikeDisplayBtnTxt}}</button>
    <button class="clean-btn" (click)="onToggleCommentDisplay()">{{toggleCommentDisplayBtnTxt}}</button>
    <button class="clean-btn" (click)="onGoToPost()">Go to post</button>
    <button class="clean-btn" (click)="onCopyLink()">Copy link</button>
    <button class="clean-btn" (click)="onCloseModal()">Cancel</button>
</section>

<confirm-delete-msg *ngIf="isConfirmDeleteMsgShown" [entityType]="'post'" (close)="onToggleConfirmDelete()"
    (deleteEntity)="onDeletePost()"></confirm-delete-msg>