@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';

.post-options-modal {
    width: rem(400px);

    >* {
        height: rem(50px);
        color: var(--primary-color);
        font-size: rem(16px);
        font-family: var(--primary-font);
        letter-spacing: 0.5px;
    }


    .delete-btn {
        color: var(--red-button);
        font-weight: 700;
    }
}