@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

::ng-deep .msg-edit-main-container {
    position: relative;
    width: 100%;
    height: 100%;

    .msg-edit-container {
        position: relative;
        width: 100%;
        display: flex;
        padding: rem(20px);
        height: rem(80px);

        .msg-edit {
            display: flex;
            align-items: center;
            width: 100%;
            height: rem(45px);
            padding: 0 rem(15px) 0 rem(35px);
            border-radius: 35px;
            border: 1px solid var(--border-color);

            >* {
                z-index: 5;
            }

            .smiley-icon {
                position: absolute;
                left: rem(32px);
                font-size: rem(20px);

            }

            input {
                position: relative;
                width: 100%;
                z-index: 1;
            }

            .btn-send {
                background-color: transparent;
                font-size: rem(14px);
                font-weight: 500;
                color: var(--primary-button);

                &:hover {
                    color: var(--primary-button-hover);
                }
            }

            .btn-add-like {
                font-size: 24px;
            }
        }

        .emoji-picker-container{
            position: absolute;
            top: -500%;
            left: 5%;
            z-index: 20;
        }
    }

    .story-reply {
        position: relative;

        .quick-reactions-container {
            position: relative;
            z-index: 20;
            width: fit-content;
            margin: 0 auto;
        }

        .reply-actions {
            display: flex;
            color: var(--border-color);
            padding: rem(15px);
            gap: rem(10px);
            width: 100%;

            .input-container {
                display: flex;
                align-items: center;
                position: relative;
                color: var(--border-color);
                flex: 4;

                input {
                    height: rem(60px);
                    width: 100%;
                    font-size: rem(16px);
                    color: var(--border-color);
                    background: transparent;
                    border: 1px solid var(--border-color);
                    border-radius: 50px;
                    padding: rem(10px) 25px;

                    &::placeholder {
                        font-size: rem(16px);
                        color: var(--border-color);
                    }
                }

                .btn-send {
                    position: absolute;
                    right: 15px;
                    font-size: rem(16px);
                    font-weight: 600;
                    color: var(--border-color);
                }
            }

            .btn-container {
                // flex: 1;

                display: flex;
                justify-content: center;
                align-items: center;
                gap: rem(10px);

                fa-icon {
                    font-size: rem(24px);
                }

            }
        }
    }
}