<main class="side-bar-options-modal">
    <ul class="side-bar-options-list">
        <div>
            <li (click)="onGoToProfileEdit()">
                <span>Settings</span>
                <svg-icon src="../../../assets/svgs/settings-icon.svg" #svgIcon></svg-icon>
            </li>
            <li (click)="onGoToSavedPosts()">
                <span>Saved</span>
                <svg-icon src="../../../assets/svgs/bookmark-outline.svg" #svgIcon></svg-icon>
            </li>
            <li (click)="onToggleDarkMode()">
                <span>Change appearance</span>
                <svg-icon src="../../../assets/svgs/moon-icon.svg" #svgIcon></svg-icon>
            </li>
        </div>

        <li (click)="onLogout()">
            <span>Log out</span>
        </li>
    </ul>
</main>