@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/typograghy';

::ng-deep .search-bar {

    .search-all-input-container {
        position: relative;
        display: flex;
        align-items: center;

        .magnifying-glass-icon {
            position: absolute;
            top: 15%;
            left: rem(10px);
            font-size: rem(18px);
            color: var(--input-placeholder-color);
        }

        input {
            width: rem(365px);
            height: rem(40px);
            padding: rem(5px) 0 rem(5px) rem(40px);
            background-color: var(--input-bg-color);
            border-radius: rem(8px);
            color: var(--input-placeholder-color);
            transition: all 0.3s ease-in-out;

            &::placeholder {
                color: var(--input-placeholder-color);
                font-size: rem(20px);
                text-transform: capitalize;
                letter-spacing: 0.5px;
                position: absolute;
                top: 15%;
                font-family: var(--primary-font);
                font-weight: 100;
            }

            &.focused {
                padding: rem(5px) 0 rem(5px) rem(15px);
            }


            @include for-mobile-narrow-layout {
                width: rem(150px);
            }

            @include for-mobile-normal-layout {
                width: rem(200px);
            }

            @include for-mobile-wide-layout {
                width: rem(365px);
            }
        }

        .btn-container {
            position: relative;
            left: -25px;
            color: var(--input-placeholder-color);
            z-index: 210;

            svg-icon {
                width: rem(20px);
                height: rem(20px);
            }
        }
    }

    .user-search-input-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: rem(16px);
        width: 100%;
        font-family: var(--primary-font);

        label {
            font-size: rem(16px);
            font-weight: 600;
            color: var(--primary-color);
            text-transform: capitalize;
            letter-spacing: 0.5px;
        }

        input {
            height: rem(45px);
            border: none;
            border-radius: rem(5px);
            color: var(--primary-color);
            font-size: rem(14px);
            text-transform: capitalize;
            letter-spacing: 0.5px;
            padding: 0 rem(16px);

            &::placeholder {
                color: var(--input-placeholder-secondary-color);
                font-size: rem(14px);
                text-transform: capitalize;
                letter-spacing: 0.5px;
            }
        }

        .user-list {
            padding: 0 !important;

        }
    }
}