@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/typograghy';

::ng-deep .search-bar {

    .search-all-input-container {
        position: relative;
        display: flex;
        align-items: center;

        .magnifying-glass-icon{
            position: absolute;
            top: 5%;
            left: rem(10px);
            font-size: rem(22px);
            color: var(--input-placeholder-color);
        }

        input {
            width: rem(365px);
            height: rem(40px);
            padding: rem(5px) 0 rem(5px) rem(45px);
            background-color: var(--input-bg-color);
            border-radius: rem(8px);
            color: var(--input-placeholder-color);

            &::placeholder {
                color: var(--input-placeholder-color);
                font-size: rem(22px);
                text-transform: capitalize;
                letter-spacing: 0.5px;
                position: absolute;
                top: 10%;
                font-family: var(--primary-font);
            }
        }

        .btn-container {
            position: relative;
            left: -25px;
            color: var(--input-placeholder-color);

            svg-icon {
                width: rem(20px);
                height: rem(20px);
            }
        }
    }

    .user-search-input-container {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: rem(16px);
        width: 100%;
        font-family: var(--primary-font);

        label {
            font-size: rem(16px);
            font-weight: 600;
            color: var(--primary-color);
            text-transform: capitalize;
            letter-spacing: 0.5px;
        }

        input {
            width: 100%;
            height: rem(45px);
            border: none;
            border-radius: rem(5px);
            color: var(--primary-color);
            font-size: rem(14px);
            text-transform: capitalize;
            letter-spacing: 0.5px;
            padding: 0 rem(16px);

            &::placeholder {
                color: var(--input-placeholder-secondary-color);
                font-size: rem(14px);
                text-transform: capitalize;
                letter-spacing: 0.5px;
            }
        }

        .user-list {
            padding: 0;
            
        }
    }
}