<section class="search-bar">
    <div class="search-all-input-container" *ngIf="!isUserSearch; else userSearchInput">
        <input [(ngModel)]="searchTerm" class="clean-input" type="text" placeholder="Search"
            (ngModelChange)="onChange()">
        <div class="btn-container">
            <fa-icon [icon]="faCircleXmark" (click)="onClearSearch()" *ngIf="!isLoading; else loader"></fa-icon>
            <ng-template #loader>
                <svg-icon src="../../../assets/svgs/loader.svg"
                    [svgStyle]="{'height':'35px','width':'35px','background':'transparent','position':'relative','left':'-10px'}"></svg-icon>
            </ng-template>
        </div>
    </div>

    <ng-template #userSearchInput>
        <div class="user-search-input-container">
            <label for="friend-name">to:</label>
            <user-list [users]="usersToSend" [type]="'search-bar-list'" *ngIf="usersToSend.length" (removeUser)="onRemoveUser($event)"></user-list>
            <input class="clean-input" type="text" placeholder="search..." id="friend-name">
        </div>
    </ng-template>
</section>