<section class="search-bar">
    <div class="search-all-input-container" *ngIf="!isUserSearch; else userSearchInput">
        <fa-icon [icon]="faMagnifyingGlass" class="magnifying-glass-icon" *ngIf="!isInputFocused"></fa-icon>
        <input [(ngModel)]="searchTerm" class="clean-input" [class.focused]="isInputFocused" type="text"
            placeholder="Search" (ngModelChange)="onChange()" (focus)="onFocus()" autocomplete="off">
        <div class="btn-container" *ngIf="isInputFocused">
            <fa-icon [icon]="faCircleXmark" (click)="onClearSearch()" *ngIf="!isLoading; else loader"></fa-icon>
            <ng-template #loader>
                <svg-icon src="../../../assets/svgs/loader.svg"
                    [svgStyle]="{'height':'35px','width':'35px','background':'transparent'}"></svg-icon>
            </ng-template>
        </div>
    </div>

    <ng-template #userSearchInput>
        <div class="user-search-input-container">
            <label for="friend-name">to:</label>
            <user-list [users]="selectedUsers" [type]="'search-bar-list'" *ngIf="selectedUsers.length"
                (removeUser)="onRemoveUser($event)"></user-list>
            <chat-list [chats]="selectedChats" [type]="'search-bar-list'" *ngIf="selectedChats.length" (removeChat)="onRemoveChat($event)"></chat-list>
            <input class="clean-input" [(ngModel)]="searchTerm" (ngModelChange)="onChange()" type="text"
                placeholder="search..." id="friend-name" autocomplete="off">
        </div>
    </ng-template>
</section>