@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';

::ng-deep .tag-details {
    @include page;
    flex-direction: column;


    .tag-details-header {
        @include mobile-header;
    }

    .tag-info {

        display: flex;
        width: 100%;
        gap: rem(20px);
        margin-top: rem(25px);
        padding: rem(5px);

        .img-container {
            position: relative;
            display: flex;


            img {
                height: rem(100px);
                width: rem(100px);
                border-radius: 50%;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;

            h1 {
                font-weight: normal;
            }

            span {
                font-weight: 700;
            }

            .btn-follow,
            .btn-unfollow {
                position: relative;
                margin-top: rem(25px);
                font-size: rem(14px);
                width: rem(100px) !important;
                transition: all 0.5s ease-in-out;
            }
        }
    }

    .tag-details-main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 rem(10px);
        width: 100%;


        .post-list-container {
            width: 100%;
            margin-top: rem(25px);


            h5 {
                font-weight: 600;
                font-size: rem(16px);
                margin-bottom: rem(25px);
                color: var(--secondary-color);
                text-align: start;
            }
        }
    }

    @include for-small-layout {
        align-items: center;
        padding: rem(20px);

        .tag-details-header {
            display: none;
        }

        .tag-info {
            align-items: center;
            gap: rem(45px);

            .img-container {
                img {
                    height: rem(155px);
                    width: rem(155px);
                }
            }

            .info {
                .btn-follow,
                .btn-unfollow {
                    position: relative;
                    width: 90% !important;
                    max-width: rem(735px) !important;
                }
            }
        }
    }

    @include for-large-layout {
        .tag-info {
            .info {
                .btn-follow {
                    font-size: rem(18px);
                }
            }
        }
    }
}