<main class="tag-details main-layout">
    <div class="main-container">

        <header>
            <div class="img-container" *ngIf="posts[0]">
                <img [src]="posts[0].imgUrls[0]" alt="tag image">
            </div>
            <div class="info">
                <h1>{{tag.name}}</h1>
                <p><span>{{tag.postsIds.length}}</span> posts</p>
                <button class="btn-follow clean-btn">follow</button>
            </div>
        </header>
        
        <div class="post-list-container">
            <h1>Top posts</h1>
            <post-list [posts]="posts" [isMiniPreview]="true"></post-list>
        </div>
    </div>
</main>