<section class="followers-page">
    <header class="followers-header">
        <fa-icon [icon]="faChevronLeft" (click)="onGoBack()"></fa-icon>
        <h1>Followers</h1>
        <div></div>
    </header>

    <main class="followers-main-container">
        <user-list [users]="users" [type]="'followers-list'" *ngIf="users.length; else noFollowersMsg"></user-list>
        <ng-template #noFollowersMsg>
            <div class="no-followers-msg-container">
                <h1 class="no-followers">No followers yet.</h1>
            </div>
        </ng-template>
    </main>
</section>