@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

.btn-container {
    .btn-follow {
        background-color: var(--primary-button);
        color: white;
        border-radius: 5px;
        padding: rem(7.5px) rem(15px);
        font-weight: 600;
        cursor: pointer;
        
        &:hover {
            background-color: var(--button-hover);
        }
    }
    
    .btn-unfollow {
        border: 1px solid var(--border-color);
        border-radius: 5px;
        color: var(--primary-color);
        padding: rem(7.5px) rem(15px);
        font-weight: 600;
        cursor: pointer;
    }
}