<div class="btn-pagination prev">
    <div (click)="onPrevItem()" *ngIf="isPaginationBtnShown.left">
        <svg-icon src="../../../assets/svgs/chevron-left.svg" *ngIf="isEditIcon; else faIcon"></svg-icon>
        <ng-template #faIcon>
            <fa-icon [icon]="faCircleChevronLeft"> </fa-icon>
        </ng-template>
    </div>
</div>
<div class="btn-pagination next">
    <div (click)="onNextItem()" *ngIf="isPaginationBtnShown.right">
        <svg-icon src="../../../assets/svgs/chveron-right.svg" *ngIf="isEditIcon; else faIcon"> </svg-icon>
        <ng-template #faIcon>
            <fa-icon [icon]="faCircleChevronRight"> </fa-icon>
        </ng-template>
    </div>
</div>