@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

::ng-deep .notification-modal {
    width: rem(400px);
    min-height: 100vh;
    height: 100%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    border-radius: 0 15px 15px 0;
    background-color: var(--secondary-bg);
    padding: rem(5px);
    z-index: 20;
    position: relative;
    overflow: scroll;
    @include scrollbar-hidden;

    header {
        padding: rem(12px) rem(24px) rem(10px) rem(14px);

        h1 {
            text-transform: capitalize;
            font-size: rem(22px);
        }
    }

    .notification-modal-main-container {
        display: flex;
        height: 100%;

        .notification-lists-container {
            .notification-list-container {
                width: rem(400px) !important;

                .notification-list {
                    .notification {
                        .main-container {
                            .txt-container {
                                font-size: rem(14px);
                            }
                        }
                    }
                }
            }
        }

        .no-notifications-msg-container {
            position: relative;
            top: -10%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;

            .no-notifications-msg-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                font-size: rem(20px);
                font-weight: 600;
                color: var(--secondary-color);
            }
        }
    }


}