<section class="notification-modal">
    <header>
        <h1>notifications</h1>
    </header>

    <main class="notification-modal-main-container" *ngIf="(notifications$|async) as notifications">
        <notification-list [notifications]="notifications" *ngIf="notifications.length; else noNotificationsMsg"
            (close)="onCloseModal()"></notification-list>
        <ng-template #noNotificationsMsg>
            <div class="no-notifications-msg-container">
                <h2 class="no-notifications">No notifications yet.</h2>
            </div>
        </ng-template>
    </main>
</section>