@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

::ng-deep .img-container {
    position: relative;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }

    .img-select {
        display: flex;
        justify-content: flex-end;
        gap: rem(15px);
        position: absolute;
        top: 55%;
        right: 2%;
        max-width: 90%;
        height: rem(120px);
        background-color: var(--primary-color);
        border-radius: rem(10px);
        padding: rem(8px);

        ul {
            position: relative;
            display: flex;
            gap: rem(10px);
            padding: 0;
            margin: 0;
            // height: fit-content;
            width: 80%;
            overflow: hidden;
            overflow-x: hidden;

            li {
                position: relative;
                height: auto;
                width: 50%;

                img {
                    height: rem(100px);
                    width: rem(100px);
                    object-fit: cover;
                }

                .remove-btn-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 50%;
                    background-color: var(--primary-color);
                    padding: rem(5px);
                }
            }
        }
    }

    &.for-mini-preview {
        position: relative;
        height: 33vw;
        width: 33vw;
    }

    @media (min-width: 735px) {
        $curr-width: calc(100vw - rem(75px));
        $curr-size: calc($curr-width / 3);

        &.for-mini-preview {
            height: $curr-size;
            width: $curr-size;
        }
    }

    @include for-narrow-layout {
        $curr-width: calc(95vw - rem(125px));
        $curr-size: calc($curr-width / 3);

        &.for-mini-preview {
            height: $curr-size;
            width: $curr-size;
        }
    }

    @include for-normal-layout {
        $curr-width: calc(95vw - rem(200px));
        $curr-size: calc($curr-width / 3);

        &.for-mini-preview {
            max-height: rem(300px);
            max-width: rem(300px);
        }
    }

    // @include for-wide-layout{
    //     $curr-width: calc(95vw - rem(300px));
    //     $curr-size: calc($curr-width / 3);

    //     &.for-mini-preview {
    //         height: $curr-size;
    //         width: $curr-size;
    //     }

    // }
}