@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

::ng-deep .img-container {
    position: relative;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        transition: 0.5s ease-in-out;
    }

    .full-view-container {
        width: 100%;
        height: 100%;
    }

    .multiple-img-icon-container {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: rem(7.5px);
        z-index: 10;
    }

    .img-select {
        display: flex;
        justify-content: flex-end;
        gap: rem(15px);
        position: absolute;
        top: 55%;
        right: 2%;
        max-width: 90%;
        height: rem(120px);
        background-color: var(--primary-color);
        border-radius: rem(10px);
        padding: rem(8px);

        ul {
            position: relative;
            display: flex;
            gap: rem(10px);
            padding: 0;
            margin: 0;
            // height: fit-content;
            width: 80%;
            overflow: hidden;
            overflow-x: hidden;

            li {
                position: relative;
                height: auto;
                width: 50%;

                img {
                    height: rem(100px);
                    width: rem(100px);
                    object-fit: cover;
                }

                .remove-btn-container {
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-radius: 50%;
                    background-color: var(--primary-color);
                    padding: rem(5px);
                }
            }
        }
    }

    .chat-post-preview-img {
        cursor: pointer;
    }

    &.for-mini-preview {
        height: 100%/3;
        width: 100%/3;

        img {
            aspect-ratio: 1/1;
        }
    }

    @include for-large-layout {
        &.for-mini-preview {
            max-height: rem(300px);
            max-width: rem(300px);
        }
    }
}