<div class="img-container" [class.for-mini-preview]="type === 'mini-preview'">
    <div class="multiple-img-icon-container" *ngIf="type==='mini-preview' || type ==='chat-post-preview'">
        <svg-icon *ngIf="imgUrls.length > 1" src="../../../assets/svgs/files-solid.svg"
            [svgStyle]="{ display: 'flex' }"></svg-icon>
    </div>

    <container-element [ngSwitch]="type">

        <div class="full-view-container" *ngSwitchCase="'full-view'">
            <img src={{currImgUrl}} alt="Avatar">
            <pagination-btns (prevItem)="onSwitchImg($event)" (nextItem)="onSwitchImg($event)"
                [isPaginationBtnShown]="isPaginationBtnShown" [isEditIcon]="isEditPost"></pagination-btns>
            <img-dots *ngIf="imgUrls.length>1" [imgUrls]="imgUrls" [currImgUrl]="currImgUrl"></img-dots>
            <div class="files-svg-container" (click)="onToggleImgSelect()" *ngIf="isEditPost">
                <svg-icon src="../../../assets/svgs/files-outline.svg" [svgStyle]="{ 'display':'flex' }"></svg-icon>
            </div>
            <div class="img-select" *ngIf="isImgSelect">
                <ul>
                    <li *ngFor="let img of imgUrls">
                        <img src={{img}} alt="Avatar">
                        <div class="remove-btn-container" (click)="onRemoveImg(img)">
                            <svg-icon src="../../../assets/svgs/x.svg" [svgStyle]="{ 'display':'flex' }"></svg-icon>
                        </div>
                    </li>
                </ul>
                <file-input (uploadedImgUrls)="onSaveFiles($event)" [type]="'btn-plus'"></file-input>
            </div>
        </div>


        <img class="mini-preview-img" src={{currImgUrl}} alt="Avatar" *ngSwitchCase="'mini-preview'">

        <img class="chat-post-preview-img" src={{currImgUrl}} alt="Avatar" *ngSwitchCase="'chat-post-preview'">
    </container-element>
</div>