<div class="img-container">
    <div *ngIf="!isMiniPreview else miniPreview">
        <img src={{currImgUrl}} alt="Avatar">
        <pagination-btns (prevItem)="onSwitchImg($event)" (nextItem)="onSwitchImg($event)" [isPaginationBtnShown]="isPaginationBtnShown"
            [isEditPost]="isEditPost"></pagination-btns>
        <div class="dots-container" *ngIf="imgUrls.length>1">
            <fa-icon class="dot" *ngFor="let img of imgUrls" [class.active]="img === currImgUrl" [icon]="faCircle">
            </fa-icon>
        </div>
        <div class="files-svg-container" (click)="onToggleImgSelect()" *ngIf="isEditPost">
            <svg-icon src="../../../assets/svgs/files-outline.svg" [svgStyle]="{ 'display':'flex' }"></svg-icon>
        </div>
        <div class="img-select" *ngIf="isImgSelect">
            <ul>
                <li *ngFor="let img of imgUrls">
                    <img src={{img}} alt="Avatar">
                    <div class="remove-btn-container" (click)="onRemoveImg(img)">
                        <svg-icon src="../../../assets/svgs/x.svg" [svgStyle]="{ 'display':'flex' }"></svg-icon>
                    </div>
                </li>
            </ul>
            <!-- <div class="plus-btn-container">
                <a href="javascript:void(0)" (click)="file.click()">
                    <svg-icon src="../../../assets/svgs/plus.svg" [svgStyle]="{ 'display':'flex'}"></svg-icon>
                </a>
                <input type="file" #file [multiple]="false" (change)="onFileChange($event)" style="display:none" />
            </div> -->
            <file-input (uploadedImgUrls)="onSaveFiles($event)" [type]="'btn-plus'"></file-input>
        </div>
    </div>
    <ng-template #miniPreview>
        <img src={{currImgUrl}} alt="Avatar">
    </ng-template>
</div>