<div class="img-container" [class.for-mini-preview]="type === 'mini-preview'">
  <div
    class="multiple-img-icon-container"
    *ngIf="type === 'mini-preview' || type === 'chat-post-preview'"
  >
    <svg-icon
      *ngIf="imgUrls.length > 1"
      src="../../../assets/svgs/files-solid.svg"
      [svgStyle]="{ display: 'flex' }"
    ></svg-icon>
  </div>

  <container-element [ngSwitch]="type">
    <div class="full-preview-container" *ngSwitchCase="'full-preview'">
      <img src="{{ currImgUrl }}" alt="Avatar" loading="lazy" />
      <pagination-btns
        (prevItem)="onSwitchImg($event)"
        (nextItem)="onSwitchImg($event)"
        [isPaginationBtnShown]="isPaginationBtnShown"
        [isEditIcon]="false"
      ></pagination-btns>
      <img-dots
        *ngIf="imgUrls.length > 1"
        [imgUrls]="imgUrls"
        [currImgUrl]="currImgUrl"
      ></img-dots>
    </div>

    <img
      class="mini-preview-img"
      src="{{ currImgUrl }}"
      alt="Avatar"
      *ngSwitchCase="'mini-preview'"
    />

    <img
      class="chat-post-preview-img"
      src="{{ currImgUrl }}"
      alt="Avatar"
      *ngSwitchCase="'chat-post-preview'"
    />
  </container-element>
</div>
