@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';


::ng-deep .following-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: var(--secondary-bg);

    .following-header {
        @include mobile-header;
    }

    .following-main-container {
        position: relative;
        width: 100%;
        padding-bottom: rem(80px);
        margin: 0 auto;

        .following-list-filter {
            position: relative;
            width: 100%;

            .filter-btn {
                width: 50%;
                height: rem(40px);
                border-bottom: 1px solid rgb(187, 187, 187);
                color: rgb(176, 192, 207);
                font-size: rem(16px);
                font-weight: 500;

                &.active {
                    border-bottom: 1px solid var(--primary-color);
                    color: rgb(0, 55, 107);
                }
            }
        }

        .user-list {
            gap: rem(10px);

            .user-list-header {
                padding: 0 rem(10px);

                p {
                    color: var(--primary-color);
                    font-weight: 500;
                }
            }

            .default-list {

                background-color: var(--secondary-bg);
                border-radius: 5px;
                padding: rem(10px) rem(20px);

                .user-preview {
                    .img-container {
                        width: rem(50px);
                        height: rem(50px);
                    }

                    .user-info {
                        width: rem(100px);
                        line-height: 1;
                    }
                }
            }
        }

        .no-following-msg-container {
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            top: 30%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            color: var(--primary-color);
            font-size: rem(16px);
            font-weight: 600;
        }
    }

    @include for-small-layout {
        @include page;

        .following-header {
            display: none;
        }

    }
}