<article class="story-preview">
    <container-element [ngSwitch]="type">

        <div class="for-home-page" *ngSwitchCase="'home-page'">
            <user-preview *ngIf="!isLinkToStoryEdit" [user]="story.by" [type]="'home-page-list'">
            </user-preview>
            <user-preview *ngIf="isLinkToStoryEdit" [user]="userService.getMiniUser(loggedinUser)"
                [type]="'link-to-story-edit'"></user-preview>
        </div>

        <div class="for-profile-details" *ngSwitchCase="'profile-details'">
            <div class="img-container">
                <img [src]="story.imgUrls[0]" alt="story-img">
            </div>
            <div class="username-container">
                <p>{{story.by.username}}</p>
            </div>
        </div>

        <div class="for-highlghts-story-picker" *ngSwitchCase="'highlight-story-picker'">
            <div class="highlight-story-picker-preview-date" *ngIf="hightlightStoryPickerDate">
                <span>{{hightlightStoryPickerDate.day }}</span>
                <span>{{hightlightStoryPickerDate.month }}</span>
                <span>{{hightlightStoryPickerDate.year }}</span>
            </div>
            <div class="img-container">
                <img [src]="story.imgUrls[0]" alt="story-img">
            </div>
        </div>
    </container-element>
</article>