@import '../../../assets/styles/setup/functions';

.user-preview-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: rem(60px);
    margin: 0 rem(16px);

    .user-preview {
        display: flex;
        align-items: center;

        .user-img-container {
            width: rem(30px);
            height: rem(30px);
            margin-right: 10px;

            img {
                border-radius: 50%;
            }
        }

        .info {
            font-size: rem(14px);
            font-weight: 600;
        }
    }
}