<section class="side-bar" *ngIf="isLoginSignupPath">
    <header>
        <a class="logo" routerLink="/">Snapshot</a>
    </header>
    <main>
        <a class="home" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
            <svg-icon src="../../../assets/svgs/home-solid.svg" class="icon-active"> </svg-icon>
            <svg-icon src="../../../assets/svgs/home-outline.svg" class="icon-unactive"> </svg-icon>
            <span class="home-title">Home</span>
        </a>
        <button class="btn-search clean-btn" (click)="onToggleSearch()">
            <svg-icon src="../../../assets/svgs/search-solid.svg" *ngIf="isBtnClicked.search  else outlineSearchIcon">
            </svg-icon>
            <ng-template #outlineSearchIcon>
                <svg-icon src="../../../assets/svgs/search-outline.svg"> </svg-icon>
            </ng-template>
            <span class="search-title">Search</span>
        </button>
        <a class="messages" routerLink="/explore" routerLinkActive="active">
            <svg-icon src="../../../assets/svgs/compass-solid.svg" class="icon-active"> </svg-icon>
            <svg-icon src="../../../assets/svgs/compass-outline.svg" class="icon-unactive"> </svg-icon>
            <span class="messages-title">Explore</span>
        </a>
        <a class="messages" routerLink="/inbox" routerLinkActive="active">
            <svg-icon src="../../../assets/svgs/inbox-solid.svg" class="icon-active"> </svg-icon>
            <svg-icon src="../../../assets/svgs/inbox-outline.svg" class="icon-unactive"> </svg-icon>
            <span class="messages-title">Messages</span>
        </a>
        <button class="btn-create clean-btn" (click)="onTogglePostEdit()">
            <svg-icon src="../../../assets/svgs/plus-solid.svg" *ngIf="isBtnClicked.create else outlineCreateIcon">
            </svg-icon>
            <ng-template #outlineCreateIcon>
                <svg-icon src="../../../assets/svgs/plus-outline.svg"> </svg-icon>
            </ng-template>
            <span>Create</span>
        </button>
        <a class="profile" [routerLink]="profileUrl" routerLinkActive="active">
            <div class="user-img-container">
                <img [src]="userImgUrl" alt="userImg">
            </div>
            <span class="profile-title">Profile</span>
        </a>
    </main>
</section>