@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';

::ng-deep .like-modal {
    display: grid;
    grid-template-rows: rem(50px) 1fr;
    width: rem(400px);

    .like-modal-header {
        grid-row: 1/2;
        display: grid;
        grid-template-columns: 1fr 5%;
        grid-template-rows: 1fr;
        align-items: center;
        height: rem(50px);
        border-bottom: 1px solid var(--border-color);

        h1 {
            grid-column: 1/2;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--primary-color);
            font-size: rem(16px);
            font-weight: 600;
            text-transform: capitalize;
            letter-spacing: 0.5px;
        }

        fa-icon {
            grid-column: 2/3;
            font-size: rem(16px);
            cursor: pointer;
        }

    }

    .user-list {
        grid-row: 2/3;

        .default-list {
            li {
                padding: rem(16px);

                .user-preview {
                    .img-container {
                        height: rem(50px);
                        width: rem(50px);
                    }
                }
            }
        }
    }


}