<section class="post-preview">
    <section class="post-creator">
        <section class="creator-preview">
            <section class="img-container">
                <img src={{post.by.imgUrl}} alt="">
            </section>
            <section class="info">
                <h3>{{post.by.fullname}}</h3>
                <p class="location" *ngIf="post.location.name">{{post.location.name}}</p>
            </section>
        </section>

        <fa-icon [icon]="faEllipsis"></fa-icon>
    </section>
    <section class="img-container">
        <img src={{post.imgUrl}} alt="Avatar">
    </section>
    <section class="actions">
        <div class="main-btn-container">
            <fa-icon [icon]="faHeart"></fa-icon>
            <fa-icon [icon]="faComment"></fa-icon>
            <fa-icon [icon]="faPaperPlane"></fa-icon>
        </div>
        <fa-icon [icon]="faBookmark"></fa-icon>
    </section>
    <p class="likes">{{post.likedBy.length}} likes</p>
    <section class="txt-container">
        <p class="txt" *ngIf="!isExpandTxt; else longTxt">
            <span>{{post.by.fullname}}</span> {{post.txt | shortTxt}} <span (click)="expandTxt()">more</span>
        </p>
        <ng-template class="txt-container" #longTxt>
            <p>
                <span>{{post.by.fullname}}</span>
                {{post.txt}}
            </p>
        </ng-template>
    </section>
    <a class="view-all-link">View all {{post.comments.length}} comments</a> <!--  TODO: add link to post details -->
    <!-- <comment-list [comments]="post.comments"></comment-list> TODO: show only following comments -->
    <p class="date-added">{{post.createdAt|formattedDate}}</p>
    <hr>
    <form class="comment-form" (submit)="onAddComment()">
        <section class="input-container">
            <fa-icon [icon]="faFaceSmile">Post</fa-icon>
            <input type="text" placeholder="Add a comment..." [(ngModel)]="commentTxt" name="commentTxt">
        </section>
        <button class="clean-btn" [class.txt-in-input]="commentTxt" type="submit">post</button>
    </form>
</section>