@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

::ng-deep .post-preview {
    height: fit-content;
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0 rem(20px) rem(20px) rem(20px);

    // .main-screen {
    //     @include main-screen(rgba(0, 0, 0, 0.5));
    // }

    .post-creator {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: rem(60px);

        .creator-preview {
            display: flex;
            align-items: center;
            gap: rem(5px);

            .creator-img-container {
                display: flex;
                justify-content: center;
                align-items: center;


                // *************** user img circle  ***************
                background: linear-gradient(white, white) padding-box,
                    linear-gradient(to bottom left, var(--primary-icon-color), var(--secondary-icon-color)) border-box;
                border-radius: 50%;
                border: 2px solid transparent;
                padding: rem(2px);

                img {
                    height: rem(32px);
                    width: auto;
                    border-radius: 50%;
                }
            }

            .info {

                h3 {
                    text-transform: lowercase;
                    font-size: rem(14px);
                    margin: 0;
                }

                p {
                    font-size: rem(12px);
                    margin: 0;
                }
            }
        }

        .ellipsis {
            display: flex;
            gap: rem(3px);
            align-items: center;

            fa-icon {
                font-size: rem(5px);
            }
        }
    }

    .img-container {
        .pagination-btns {
            fa-icon {
                color: var(--primary-pagination-button);
                font-size: rem(30px);
            }
        }

        .dots-container {
            .active {
                color: var(--secondary-bg);
            }
        }
    }

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 rem(10px);

        fa-icon {
            font-size: rem(24px);
        }

        .main-btn-container {
            display: flex;
            gap: 10px;

            .solid-heart {
                @include solid-heart;
            }
        }
    }

    .likes {
        font-weight: 600;
    }

    .txt-container {
        span {
            font-weight: 900;
            cursor: pointer;
        }
    }

    .view-all-link {
        font-size: rem(16px);
        color: var(--secondary-color);
    }

    .date-added {
        font-size: rem(12px);
        text-transform: uppercase;
        letter-spacing: rem(1px);
        color: var(--secondary-color);
    }

    .comment-form {
        display: grid;
        grid-template-columns: 5% 1fr 10%;
        grid-template-rows: 1fr;
        position: relative;
        align-items: center;
        width: 100%;

        fa-icon {
            grid-template-columns: 1/2;
            font-size: rem(24px);
            z-index: 20;
        }

        .txt-input {
            grid-template-columns: 2/3;
            width: 100%;
            border: none;
            padding: 0 rem(5px);
            // font-size: rem(14px);
            outline: none;

        }

        ::placeholder {
            font-size: rem(16px);
            color: var(--secondary-color);

        }

        .emoji-picker-container {
            position: absolute;
            top: -1200%;
            z-index: 20;
        }

        button {
            color: var(--secondary-button);
            text-transform: capitalize;
            font-weight: 600;
            cursor: pointer;

            &.txt-in-input {
                color: var(--primary-button);
            }
        }


    }

}