@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';


::ng-deep .discover-people-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(75px);
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-bg);

    .discover-people-header {
      @include mobile-header;
    }

    .discover-people-main-container {
        position: relative;
        width: 80%;
        padding-bottom: rem(80px);
        margin: 0 auto;

        .user-list {
            gap: rem(10px);

            .user-list-header {
                padding: 0 rem(10px);

                p {
                    color: var(--primary-color);
                    font-weight: 500;
                }
            }

            .default-list {

                background-color: var(--secondary-bg);
                border-radius: 5px;
                padding: rem(10px) rem(20px);

                .user-preview {
                    .img-container {
                        width: rem(50px);
                        height: rem(50px);
                    }

                    .user-info{
                        width: rem(100px);
                        line-height: 1;
                    }
                }
            }
        }
    }

    @include for-small-layout {
        @include page;

        .discover-people-header {
            display: none;
        }

        .discover-people-main-container {
            width: rem(600px);
            margin: rem(65px) auto;


            .user-list{
                .default-list {
                    .user-preview {
                        .user-info{
                            width: rem(300px);
                        }
                    }
                }
            }
        }
    }
}