@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

.comment-form {
    display: grid;
    grid-template-columns: 5% 1fr 10%;
    grid-template-rows: 1fr;
    position: relative;
    align-items: center;
    width: 100%;

    fa-icon {
        grid-template-columns: 1/2;
        font-size: rem(24px);
        // z-index: 20;
    }

    .txt-input {
        grid-template-columns: 2/3;
        width: 100%;
        border: none;
        padding: 0 rem(5px);
        // font-size: rem(14px);
        outline: none;

    }

    ::placeholder {
        font-size: rem(16px);
        color: var(--secondary-color);

    }

    .emoji-picker-container {
        position: absolute;
        top: -1200%;
        z-index: 20;
    }

    button {
        color: var(--secondary-button);
        text-transform: capitalize;
        font-weight: 600;
        cursor: pointer;

        &.txt-in-input {
            color: var(--primary-button);
        }
    }


}