<section class="post-details" *ngIf="loggedinUser" [class.is-home]="isHome">
  <div class="main-screen dark-mode" *ngIf="isHome || isMainScreen" (click)="onClickMainScreen()">
  </div>

  <header class="post-details-header">
    <fa-icon [icon]="faChevronLeft" (click)="onGoBack()"></fa-icon>
    <h2>photo</h2>
  </header>

  <main [ngClass]="classForPost">

    <div class="post-img-container">
      <img-container [imgUrls]="post.imgUrls"></img-container>
    </div>

    <section class="post-creator">
      <user-preview [user]="post.by" [location]="post.location"></user-preview>
      <ellipsis (click)="onToggleModal('post-options-modal')"></ellipsis>

      <post-options-modal *ngIf="isOptionsModalShown" [isPostOwnedByUser]="isPostOwnedByUser" [post]="post"
        [loggedinUserId]="loggedinUser.id" (close)="onToggleModal('post-options-modal')"></post-options-modal>
    </section>

    <div class="comment-list-container">
      <comment-list *ngIf="post.commentSum; else noComments" [postId]="post.id" [loggedinUser]="loggedinUser"
        [commentSum]="post.commentSum" [type]="'post-details'"></comment-list>
      <ng-template #noComments>
        <div class="no-comments-msg-container">
          <h2 class="no-comments">No comments yet.</h2>
          <p class="start-converstion">Start the conversion.</p>
        </div>
      </ng-template>
    </div>

    <div class="post-details-action-container">
      <post-actions [post]="post" [loggedinUser]="loggedinUser" [type]="'post-details'"
        (toggleModal)="onToggleModal('share-modal')"></post-actions>

      <div class="likes-container">
        <p class="likes" *ngIf="post.likeSum > 0; else firstLike">
          {{ post.likeSum }} likes
        </p>
        <ng-template #firstLike>
          <p class="first-like">
            Be the first to
            <span (click)="onFirstLike()">like this</span>
          </p>
        </ng-template>
      </div>

    </div>

    <div class="date-container">
      <p class="date-added">{{ post.createdAt | formattedDate }}</p>
    </div>

    <share-modal *ngIf="isShareModalShown" (close)="onToggleModal('share-modal')"
      [loggedinUser]="loggedinUser"></share-modal>

    <div class="comment-edit-container">
      <comment-edit [post]="post"></comment-edit>
    </div>
  </main>

  <div *ngIf="(userPosts$ | async) as posts">

    <div class="post-list-container" *ngIf="!isHome && posts.length > 0">

      <p class="more-posts-suggsetion">
        More posts from
        <span [routerLink]="['/profile/', loggedinUser.id]">
          {{ loggedinUser.username }}
        </span>
      </p>
      <post-list [posts]="posts" [isMiniPreview]="true"></post-list>
    </div>

    <ng-template #loading>
      <div>Loading...</div>
    </ng-template>

  </div>
</section>