<section class="post-details" *ngIf="loggedinUser" [class.for-nested-display]="isNested">
  <div class="main-screen dark-mode" *ngIf="isNested || isMainScreen" (click)="onClickMainScreen()">
    <fa-icon [icon]="faX"></fa-icon>
  </div>

  <header class="post-details-header">
    <fa-icon [icon]="faChevronLeft" (click)="onGoBack()"></fa-icon>
    <h1>{{this.post.imgUrls.length > 1 ? 'Post' : 'Photo'}}</h1>
    <div></div>
  </header>

  <main [ngClass]="classForPost">

    <div class="post-img-container">
      <img-container [imgUrls]="post.imgUrls" [type]="'full-preview'"></img-container>
    </div>

    <section class="post-creator">
      <user-preview [user]="post.by" [location]="post.location" [type]="'post'"></user-preview>
      <ellipsis (click)="onToggleModal('post-options-modal')"></ellipsis>

      <post-options-modal *ngIf="isOptionsModalShown" [isPostOwnedByUser]="isPostOwnedByUser" [post]="post"
        [loggedinUser]="loggedinUser" (close)="onToggleModal('post-options-modal')"></post-options-modal>
    </section>

    <div class="comment-list-container">
      <comment-list *ngIf="post.comments.length; else noComments" [comments]="comments" [loggedinUser]="loggedinUser"
        [type]="'post-details'"  (commentRemoved)="onRemoveComment($event)"></comment-list>
      <ng-template #noComments>
        <div class="no-comments-msg-container">
          <h2 class="no-comments">No comments yet.</h2>
          <p class="start-converstion">Start the conversion.</p>
        </div>
      </ng-template>
    </div>

    <div class="post-details-action-container">
      <post-actions [post]="post" [loggedinUser]="loggedinUser" [type]="'post-details'"
        (toggleModal)="onToggleModal('share-modal')"></post-actions>

      <div class="likes-container">
        <p class="likes" *ngIf="post.likeSum > 0; else firstLike">
          {{ post.likeSum }} likes
        </p>
        <ng-template #firstLike>
          <p class="first-like">
            Be the first to
            <span (click)="onFirstLike()">like this</span>
          </p>
        </ng-template>
      </div>

    </div>

    <div class="date-container">
      <p class="date-added" [routerLink]="['/post/',post.id]">{{ post.createdAt | formattedDate }}</p>
    </div>

    <share-modal *ngIf="isShareModalShown" (close)="onToggleModal('share-modal')" [loggedinUser]="loggedinUser"
      [type]="'post'"></share-modal>

    <div class="comment-edit-container">
      <comment-edit [post]="post" [isPostDetails]="true" [loggedinUser]="loggedinUser"
        (commentAdded)="onAddComment($event)"></comment-edit>
    </div>
    <pagination-btns *ngIf="isExplorePage" [isPaginationBtnShown]="isPaginationBtnShown" (prevItem)="onChangePost(-1)"
      (nextItem)="onChangePost(1)"></pagination-btns>
  </main>


  <div *ngIf="(userPosts$ | async) as posts">

    <div class="post-list-container" *ngIf="!isNested && posts.length > 0">

      <p class="more-posts-suggsetion">
        More posts from
        <span [routerLink]="['/profile/', loggedinUser.id]">
          {{ loggedinUser.username }}
        </span>
      </p>
      <post-list [posts]="posts" [type]="'mini-preview'"></post-list>
    </div>

  </div>
</section>