@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';
@import './post-details-mixin.scss';



::ng-deep .post-details {
    @include page;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    .main-screen {
        display: none;
    }

    .post-details-header {
        @include mobile-header;
    }

    .post {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto 1fr auto auto;
        margin-bottom: rem(50px);

        .post-creator {
            grid-row: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: rem(60px);
            padding: rem(20px);
            background-color: var(--primary-bg);


            .user-preview {

                .img-container {
                    height: rem(40px);
                    width: rem(40px);
                }
            }

            .ellipsis {
                display: flex;
            }
        }

        .post-img-container {
            position: relative;
            grid-row: 2;

            .img-container {
                position: relative;
                width: 100%;
                height: auto;

                img {
                    object-fit: cover;
                }

                .btn-pagination {

                    top: 50%;
                    transform: translate(-50%);

                    fa-icon {
                        color: var(--primary-pagination-button);
                        font-size: rem(32px);
                    }

                    &.prev {
                        left: 10%;
                    }

                    &.next {
                        left: 90%;
                    }

                }

                .img-dots {
                    .active {
                        color: var(--secondary-bg);
                    }
                }
            }
        }

        .comment-list-container {
            display: none;
        }

        .post-details-action-container {
            grid-row: 3;
            padding: 0 rem(20px);
            display: flex;
            flex-direction: column;
            gap: rem(10px);

            .likes-container {
                font-family: var(--primary-font);

                .likes {
                    font-weight: 600;
                }

                span {
                    font-weight: 600;
                }
            }

        }

        .date-container {
            grid-row: 4;
            padding: 0 rem(20px);
            margin-top: rem(10px);

            .date-added {
                font-size: rem(12px);
                font-family: var(--primary-font);
                text-transform: uppercase;
                color: var(--secondary-color);
            }
        }

        .comment-edit-container {
            display: none;
        }


    }


    .post-list-container {
        display: flex;
        flex-direction: column;
        gap: rem(20px);
        width: 100%;
        padding: rem(50px) 0;
        border-top: var(--border-color) solid 1px;

        .more-posts-suggsetion {
            font-family: var(--primarty-font);
            font-weight: 600;
            font-size: rem(14px);
            color: var(--secondary-color);

            span {
                color: var(--primary-color);
                font-weight: 500;

            }
        }
    }


    &.for-nested-display {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 20;

        .main-screen {
            display: unset;
        }

        >*:not(.main-screen) {
            background-color: var(--secondary-bg);
            z-index: 20;
        }

        .date-container {
            padding-bottom: rem(20px);
        }

        .post-details-header {
            display: none;
        }

        .post {
            border-radius: 5px;
            width: 65%;

            .post-creator {
                border-radius: 5px 5px 0 0;
            }



        }
    }

    @include for-extra-small-layout {
        padding: rem(20px);

        .main-screen {
            display: unset;
        }

        .post {
            border: var(--border-color) solid 1px;

            .comment-list-container {
                display: inline-block;

                .no-comments-msg-container {
                    align-self: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    font-family: var(--primary-font);

                    p {
                        font-weight: 100;
                    }
                }
            }

            .comment-edit-container {
                position: relative;
                display: unset;
                width: 100%;
                border-top: 1px solid var(--border-color);
                background-color: var(--primary-bg);

                .comment-form {
                    background-color: var(--primary-bg);
                    gap: 10px;

                    ::placeholder {
                        font-size: rem(9px);
                    }

                    .txt-input {
                        background-color: var(--primary-bg);
                    }
                }
            }
        }

        .for-narrow-img {
            @include horizontal-view;
        }

        .for-wide-img {
            grid-template-columns: 1fr;
            grid-template-rows: rem(60px) 1fr auto auto rem(40px);

            .post-img-container {
                .img-container {
                    width: 100%;
                    height: auto;
                    max-width: rem(750px);
                }
            }

            .comment-list-container {
                grid-row: 4;

                .comment-list {
                    display: none;
                }
            }

            .date-container {
                grid-row: 5;
            }

            .comment-edit-container {
                grid-row: 6;

            }
        }

        &.for-nested-display {
            .post {
                border-radius: 5px;
                margin: 0;
                width: 80%;

                .post-img-container {
                    img {
                        border-radius: 5px 0 0 5px;
                    }
                }

                .post-creator {
                    border-radius: 0 5px 0 0;
                }

                .btn-pagination {

                    &.prev {
                        left: 5%;
                    }

                    &.next {
                        left: 95%;
                    }
                }
            }
        }
    }

    @include for-small-layout {
        position: relative;
        width: calc(100% - rem(75px));

        .post-details-header {
            display: none;
        }

        .post {
            // grid-template-columns: 1fr;
            margin-top: 0;

            .post-img-container {
                .img-container {
                    width: 100%;
                    height: auto;
                    max-width: rem(750px);
                }
            }

            .comment-edit-container {
                .comment-form {

                    ::placeholder {
                        font-size: rem(11px);
                    }
                }
            }
        }


    }

    @include for-medium-layout {

        .for-wide-img {
            @include horizontal-view;
            min-height: rem(500px);
        }
    }

    @include for-large-layout {
        align-items: center;

        .post {
            grid-template-columns: minmax(rem(500px), rem(600px)) minmax(rem(200px), rem(335px));

            .comment-edit-container {
                .comment-form {

                    ::placeholder {
                        font-size: rem(16px);
                    }
                }
            }
        }

        .post-list-container {
            width: fit-content;
        }

        &.for-nested-display {
            .post {

                width: fit-content;
            }
        }
    }
}