@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

@mixin horizontal-view {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: rem(60px) 1fr auto auto rem(42px);


    .post-img-container {
        grid-column: 1;
        grid-row: 1 / -1;

        display: flex;
        align-items: center;
        justify-content: center;


        .img-container {
            display: flex;
            width: 100%;
            height: auto;
            max-width: rem(750px);
        }
    }

    .post-creator {
        grid-column: 2;
        grid-row: 1;

        border-left: var(--border-color) solid 1px;
        border-bottom: var(--border-color) solid 1px;
        border-radius: 0;
    }

    .comment-list-container {
        grid-column: 2;
        grid-row: 2;
        display: inline-block;
        border-left: var(--border-color) solid 1px;
        border-bottom: var(--border-color) solid 1px;
        border-radius: 0;
        position: relative;

        .comment-list {
            display: flex;
            flex-direction: column;
            gap: rem(20px);
            min-height: rem(300px);
            max-height: rem(500px);
            position: relative;
            width: 100%;
            padding: rem(20px);

            flex: 1;
            align-self: stretch;

            overflow-y: scroll;
            @include scrollbar-hidden;

            >* {
                width: 100%;

                &:hover {
                    .ellipsis {
                        display: flex;
                    }
                }
            }
        }
    }

    .post-details-action-container {
        grid-column: 2;
        grid-row: 3;
        border-left: var(--border-color) solid 1px;
    }

    .date-container {
        grid-column: 2;
        grid-row: 4;
        border-left: var(--border-color) solid 1px;
        margin: 0;
        padding: rem(10px) rem(20px) rem(20px) rem(20px);
    }

    .comment-edit-container {
        grid-column: 2;
        grid-row: 5;
        border-left: var(--border-color) solid 1px;

    }
}