@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/functions';

::ng-deep .post-edit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 20;

    
    .main-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--secondary-bg);
        height: rem(875px);
        width: rem(830px);
        border-radius: 12px;
        z-index: 20;

        header {
            height: rem(45px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 5px;
                padding-bottom: 2.5px;
                text-transform: capitalize;

                fa-icon {
                    color: var(--primary-color);
                    position: absolute;
                    left: rem(20px);
                    font-size: rem(24px);
                }

                .title {
                    color: var(--primary-color);
                    font-size: rem(16px);
                    transform: translateY(20%);
                }

                .next-btn {
                    color: var(--primary-button);
                    position: absolute;
                    right: rem(20px);
                    font-size: rem(16px);
                    cursor: pointer;
                }
            }
        }

        .content-container {
            height: calc(100% - rem(45px));

            .input-file-container {
                height: 100%;
                width: 100%;
            }

            .edit-img-container {

             

                .files-svg-container {
                    position: absolute;
                    top: 85%;
                    right: 2%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: rem(32px);
                    width: rem(32px);
                    background-color: var(--primary-color);
                    border-radius: 50%;
                }

            }


        }
    }
}


.edit-mode {

    .main-container {
        width: 1130px;

        .content-container {
            display: flex;

            .edit-img-container {
                flex: 6;
            }

            .edit-mode-container {
                flex: 2;
            }

        }
    }
}