@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/functions';

.main-screen {
    background-color: black;
    opacity: 0.1;

    fa-icon {
        position: fixed;
        top: 0;
        right: 0;
        font-size: rem(18px);
        color: var(--secondary-bg);
        padding: rem(15px);
    }
}

::ng-deep .post-edit {
    position: absolute;
    margin: 15vh 22.5vw;
    height: 70vh;
    width: 55vw;
    z-index: 30;

    .main-container {
        display: flex;
        flex-direction: column;
        position: fixed;
        background-color: var(--secondary-bg);
        width: 55vw;
        height: 70vh;
        border-radius: 10px;

        header {
            height: rem(40px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .title-container {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 5px;
                padding-bottom: 2.5px;
                text-transform: capitalize;

                fa-icon {
                    color: var(--primary-color);
                    position: absolute;
                    left: rem(20px);
                    font-size: rem(24px);
                }

                .title {
                    color: var(--primary-color);
                    font-size: rem(16px);
                    font-weight: 900;
                    transform: translateY(20%);
                }

                .next-btn {
                    color: var(--primary-button);
                    position: absolute;
                    right: rem(20px);
                    font-size: rem(16px);
                    font-weight: 900;
                    cursor: pointer;
                }
            }
        }

        .content-container {
            height: calc(100% - rem(40px));

            .img-input {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-transform: capitalize;
                height: 100%;
                width: 100%;

                p {
                    font-size: rem(22px);
                }

                a {
                    background-color: var(--primary-button);
                    color: var(--primary-bg);
                    font-size: rem(14px);
                    padding: rem(5px) rem(10px);
                    border-radius: 5px;
                }
            }

            .edit-img-container {
                height: 100%;

                .img-container {
                    height: 100%;

                    .btn-pagination {
                        top: 50%;
                        transform: translate(-50%);
                    }

                    .dots-container {
                        .active {
                            color: var(--primary-button);
                        }
                    }
                }

                .files-svg-container {
                    position: absolute;
                    top: 85%;
                    right: 2%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: rem(32px);
                    width: rem(32px);
                    background-color: var(--primary-color);
                    border-radius: 50%;
                }

            }

        }
    }
}


.edit-mode {
    margin: 15vh 5vw;
    height: 70vh;
    width: 90vw;

    .main-container {
        width: 90vw;

        .content-container {
            display: flex;

            .edit-img-container {
                flex: 7;
            }

            .edit-mode-container {
                flex: 3;
            }

        }
    }
}