<div class="main-screen" (click)="onTogglePostEdit()">
    <fa-icon [icon]="faX"></fa-icon>
</div>

<section class="post-edit" [class.edit-mode]="isEditMode">
    <main class="main-container">
        <header>
            <div class="title-container">
                <fa-icon *ngIf="imgUrls.length" [icon]="faArrowLeft" (click)="onGoBack()"></fa-icon>
                <h1 class="title">{{currTitle}}</h1>
                <h1 class="next-btn" *ngIf="imgUrls.length" (click)="onShare()">share</h1>
            </div>
            <hr>
        </header>

        <div class="content-container">
            <div class="input-file-container">
                <file-input *ngIf="!imgUrls.length else imgContainer" (uploadedImgUrls)="onSaveFiles($event)"
                [type]="'draggable'">
                </file-input>
            </div>

            <ng-template #imgContainer>
                <div class="edit-img-container">
                    <img-container [imgUrls]="imgUrls" [isEditPost]="true" [onGoBack]="onGoBack"></img-container>
                </div>
            </ng-template>

            <div class="edit-mode-container" *ngIf="isEditMode">
                <post-edit-form [txt]="txt" [location]="location" (postChanged)="onChangePost($event)"></post-edit-form>
            </div>
        </div>
    </main>
</section>