<section class="user-list">
    <header class="user-list-header" *ngIf="type !== 'search-bar-list'">
        <h2>{{title}}</h2>
    </header>

    <ul class="default-list" *ngIf="type !== 'search-bar-list'">
        <li *ngFor="let user of users; index as idx">
            <user-preview [user]="user"></user-preview>

            <div class="checkbox-container" (click)="onToggleSelectUser(idx)" *ngIf="isSelectUser.length">
                <div *ngIf="!isSelectUser[idx].isSelected; else checkboxFull">
                    <svg-icon src="../../../assets/svgs/checkbox-empty.svg"></svg-icon>
                </div>
                <ng-template #checkboxFull>
                    <svg-icon src="../../../assets/svgs/checkbox-full.svg"></svg-icon>
                </ng-template>
            </div>
        </li>
    </ul>

    <ul class="search-bar-list" *ngIf="type === 'search-bar-list'">
        <li *ngFor="let user of users; index as idx">
            <p>{{user.username}}</p>
            <svg-icon src="../../../assets/svgs/x.svg" [svgStyle]="{'color':'rgb(0, 149, 246)'}"
                (click)="onRemoveUser(idx)"></svg-icon>
        </li>
    </ul>
</section>