@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';

.user-list {
    .default-list {
        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

           
        }
    }


    .search-bar-list {
        li {
            display: flex;
            justify-content: space-between;
            gap: rem(10px);
            padding: rem(2px) 15px;
            border-radius: 35px;
            background-color: var(--user-search-bg);

            p {
                color: var(--primary-button);
            }
        }
    }
}