@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';

.user-list {
    display: flex;
    flex-direction: column;
    gap: rem(15px);

    .user-list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--secondary-color);

        .see-all-link {
            font-size: rem(14px);
            color: var(--primary-color);
            cursor: pointer;
            font-family: var(--primary-font);
            text-transform: capitalize;
            font-weight: 500;

            &:hover {
                color: var(--secondary-color);
            }
        }
    }

    .default-list {
        display: flex;
        flex-direction: column;
        gap: rem(10px);

        li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }

    .search-bar-list {
        display: flex;
        flex-direction: column;
        gap: rem(10px);

        li {
            display: flex;
            justify-content: space-between;
            gap: rem(10px);
            padding: rem(2px) 15px;
            border-radius: 35px;
            background-color: var(--user-search-bg);

            p {
                color: var(--primary-button);
            }
        }
    }
}