<article class="post-preview" *ngIf="loggedinUser">
  <div class="main-screen dark-mode" *ngIf="isMainScreen" (click)="onToggleModal()"></div>
  <div class="post-preview-container" *ngIf="!isMiniPreview; else miniPreview">
    <section class="post-creator">
      <user-preview [user]="post.by" [location]="post.location" [type]="'post-preview'"></user-preview>
      <ellipsis></ellipsis>
    </section>

    <img-container [imgUrls]="post.imgUrls"></img-container>

    <post-actions [post]="post" [loggedinUser]="loggedinUser" (toggleModal)="onToggleModal()"></post-actions>
    <share-modal *ngIf="isShareModalShown" (close)="onToggleModal()" [loggedinUser]="loggedinUser"></share-modal>

    <p class="likes" *ngIf="post.likeSum">{{ post.likeSum }} likes</p>

    <a class="view-all-link" [routerLink]="['h/post/', post.id]" *ngIf="post.commentSum">View all
      {{post.commentSum}} comments</a>

    <comment-list *ngIf="post.commentSum" [postId]="post.id" [isPostPreview]="true"
      [loggedinUser]="loggedinUser"></comment-list>

    <p class="date-added" [routerLink]="['/post/', post.id]">
      {{ post.createdAt | formattedDate }}
    </p>
    <hr />

    <comment-edit [post]="post" (addedComment)="addCommentToPost($event)"></comment-edit>
  </div>

  <ng-template #miniPreview>
    <div class="mini-preview-container" [routerLink]="['/post/', post.id]">
      <div class="multiple-img-icon-container">
        <svg-icon *ngIf="post.imgUrls.length > 1" src="../../../assets/svgs/files-solid.svg"
          [svgStyle]="{ display: 'flex' }"></svg-icon>
      </div>
      <img-container [imgUrls]="post.imgUrls" [isMiniPreview]="true"></img-container>
      <div class="details-container">
        <div>
          <div>
            <fa-icon class="comments-icon" [icon]="faComments"></fa-icon>
          </div>
          <!-- <span>{{ post.commentSum }}</span> -->
        </div>
        <div *ngIf="post.likeSum">
          <div>
            <svg-icon src="../../../assets/svgs/heart-icon-solid.svg"
              [svgStyle]="{ display: 'flex', fill: 'white' }"></svg-icon>
          </div>
          <span>{{ post.likeSum }}</span>
        </div>
      </div>
    </div>
  </ng-template>
</article>