<article class="post-preview" *ngIf="loggedinUser">

  <div class="main-screen dark-mode" *ngIf="isMainScreen" (click)="onToggleModal('main-screen')"></div>

  <container-element [ngSwitch]="type">


    <div class="post-preview-container" *ngSwitchCase="'full-preview'">

      <section class="post-creator">
        <user-preview [user]="post.by" [location]="post.location" [type]="'post'"></user-preview>
        <ellipsis (click)="onToggleModal('post-options-modal')"></ellipsis>
      </section>

      <img-container [imgUrls]="post.imgUrls" [type]="type"></img-container>

      <div class="post-preview-main-container">

        <share-modal *ngIf="isShareModalShown" (close)="onToggleModal('share-modal')" [loggedinUser]="loggedinUser"
          [post]="post" [type]="'post'"></share-modal>

        <like-modal *ngIf="isLikeModalShown" [post]="post" (close)="onToggleModal('like-modal')"></like-modal>

        <post-options-modal *ngIf="isOptionsModalShown" [isPostOwnedByUser]="isPostOwnedByUser" [post]="post"
          [loggedinUser]="loggedinUser" (close)="onToggleModal('post-options-modal')"
          (toggleCommentDisplay)="onToggleCommentDisplay()"
          (toggleLikeDisplay)="onToggleLikeDisplay()"></post-options-modal>

        <post-actions [post]="post" [loggedinUser]="loggedinUser" [type]="'post-preview'"
          (toggleModal)="onToggleModal('share-modal')"></post-actions>


        <p class="likes" *ngIf="isLikeShown && post.likeSum" (click)="onToggleModal('like-modal')">{{ post.likeSum }}
          likes</p>

        <a class="view-all-link" [routerLink]="['_/post/', post.id]" *ngIf="isCommentShown && post.commentSum">View all
          {{post.commentSum}} comments</a>

        <comment-list *ngIf="isCommentShown && post.commentSum" [postId]="post.id" [type]="'post-preview'"
          [loggedinUser]="loggedinUser" [commentSum]="post.commentSum"></comment-list>

        <div>
          <p class="date-added" [routerLink]="['/post/', post.id]">
            {{ post.createdAt | formattedDate }}
          </p>
        </div>

      </div>


      <div class="comment-edit-container">
        <comment-edit *ngIf="isCommentShown" [post]="post" [loggedinUser]="loggedinUser"></comment-edit>
      </div>
    </div>

    <div class="mini-preview-container" [routerLink]="[miniPreviewPostDetailsLink]" *ngSwitchCase="'mini-preview'">
      <div class="multiple-img-icon-container">
        <svg-icon *ngIf="post.imgUrls.length > 1" src="../../../assets/svgs/files-solid.svg"
          [svgStyle]="{ display: 'flex' }"></svg-icon>
      </div>
      <img-container [imgUrls]="post.imgUrls" [type]="type"></img-container>
      <div class="details-container">
        <div>
          <div>
            <svg-icon src="../../../assets/svgs/comment.svg"
              [svgStyle]="{ display: 'flex',color:'white', fill: 'white' ,height: 20,width: 20}"></svg-icon>
          </div>
          <span>{{ post.commentSum }}</span>
        </div>
        <div *ngIf="post.likeSum">
          <div>
            <svg-icon src="../../../assets/svgs/heart-icon-solid.svg"
              [svgStyle]="{ display: 'flex', fill: 'white' }"></svg-icon>
          </div>
          <span>{{ post.likeSum }}</span>
        </div>
      </div>
    </div>

    <div class="chat-post-preview" *ngSwitchCase="'chat-post-preview'">
      <p>chat post preview</p>
      <img [src]="post.imgUrls[0]" alt="">
    </div>
  </container-element>
</article>