<div class="main-screen dark-mode" *ngIf="isImgSettingModalOpen" (click)="onToggleModal()"></div>
<section class="profile-edit">
    <profile-edit-header></profile-edit-header>
    <form class="profile-edit-form" [formGroup]="form">
        <header class="profile-edit-form-header">
            <div class="img-container" (click)="onChangeImg()">
                <div>
                    <img class="img" [src]="userImgUrl">
                    <svg-icon *ngIf="isUploading" src="../../../assets/svgs/loader.svg"
                        [svgStyle]="{height:'35px',width:'35px',background:'transparent'}"></svg-icon>
                </div>
            </div>
            <div class="user-name-img-change-container">
                <h1>{{user.username}}</h1>
                <div class="link-container">
                    <div (click)="onChangeImg()">
                        <p>Change profile photo</p>
                    </div>
                </div>
                <input type="file" class="img-input" #file id="img-input" (change)="onImgSelected($event)"
                    style="display:none">
            </div>
        </header>


        <div class="input-container">
            <label for="fullname"> Name </label>
            <input formControlName="fullname" id="fullname" type="text" placeholder="Fullname">

        </div>
        <div class="input-container">
            <label for="username"> Username </label>
            <input formControlName="username" id="username" type="text" placeholder="Username">
        </div>
        <div class="input-container">
            <label for="password"> Old password </label>
            <input formControlName="password" id="password" type="password">
        </div>
        <div class="input-container">
            <label for="new-password">New password </label>
            <input formControlName="newPassword" id="new-password" type="password">
        </div>
        <div class="input-container">
            <label for="confirm-password"> Confirm new <span>password</span> </label>
            <input formControlName="confirmPassword" id="confirm-password" type="password">
        </div>

        <div class="input-container">
            <label for="bio"> Bio </label>
            <textarea formControlName="bio" id="bio" type="text" placeholder="Bio" maxlength="150"></textarea>
            <p>{{form.value.bio.length}}/150</p>
            <p>
                <span>Personal information</span>
                Provide your personal information, even if the account is used for a business, a pet or something else.
                This won't be a part of your public profile.
            </p>
        </div>

        <div class="input-container">
            <label for="email"> Email </label>
            <input formControlName="email" id="email" type="email" placeholder="Email">
        </div>

        <div class="input-container">
            <label for="phone"> Phone Number </label>
            <input formControlName="phone" id="phone" type="text" placeholder="Phone Number">
        </div>

        <div class="input-container">
            <label for="gender"> Gender </label>
            <input formControlName="gender" id="gender" type="text" placeholder="Gender">
        </div>

        <div class="btn-container">
            <button class="clean-btn btn-submit" (click)="onSubmit()">Submit</button>
        </div>
    </form>

    <profile-img-setting-modal *ngIf="isImgSettingModalOpen" (imgSelected)="onImgSelected($event)"
        (closeModal)="onToggleModal()" (removeImg)="onRemoveImg()"></profile-img-setting-modal>


</section>