@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

.chat-preview {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: rem(5px);
    padding: rem(10px) rem(15px);

    .img-container {
        width: rem(55px) !important;
        height: rem(55px) !important;
        border-radius: 50%;

        img {
            border-radius: 50%;
        }
    }

    .info {
        position: relative;
        width: calc(100% - rem(55px));
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .members-name-list {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        
        .member-name {
            font-size: rem(16px);
            font-weight: 400;
            color: var(--primary-color);
        }

        .last-action-container {
            display: flex;
            gap: rem(2.5px);

            .desc {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }

    .multiple-img-container {
        width: rem(55px);
        height: rem(55px);
        position: relative;

        .img-container {
            position: absolute;
            width: rem(40px);
            height: rem(40px);
            border-radius: 50%;
            top: 0;
            left: 0;

            img {
                border-radius: 50%;
            }
        }

        .img-container:nth-child(2) {
            top: 50%;
            left: 50%;
            transform: translate(-25%, -25%);
            border: 2px solid var(--primary-bg);
            background-color: var(--primary-bg);
        }
    }

    .members-name-list {
        display: flex;
        align-items: center;
        gap: rem(2.5px);
    }
}