<div>
    <div class="story-list-container" *ngIf="!currStory; else forStoryDetails">
        <ul class="story-list" [style.left]="listPosition">
            <li *ngFor="let story of stories">
                <story-preview [story]="story" [isHighlight]="isHighlight"></story-preview>
            </li>
        </ul>
        <pagination-btns [isPaginationBtnShown]="isPaginationBtnShown" (prevItem)="onScrollStory($event)"
            (nextItem)="onScrollStory($event)"></pagination-btns>
    </div>

    <ng-template #forStoryDetails>
        <div class="details-story-list">
            <ul class="pre-story-list">
                <li *ngFor="let story of preCurrStoryList">
                    <story-preview [story]="story" [isStoryDetails]="true"></story-preview>
                </li>
            </ul>
            <div class="story-preview-container">
                <story-preview [story]="currStory" [isStoryDetails]="true" [isCurrStory]="true"></story-preview>

                <pagination-btns [isPaginationBtnShown]="isPaginationBtnShown" (prevItem)="onSetCurrStory($event)"
                    (nextItem)="onSetCurrStory($event)"></pagination-btns>
            </div>
            <ul class="post-story-list">
                <li *ngFor="let story of postCurrStoryList">
                    <story-preview [story]="story" [isStoryDetails]="true"></story-preview>
                </li>
            </ul>
        </div>
    </ng-template>
</div>