<div class="main-screen" *ngIf="isMainScreen" (click)="onToggleEmojiPicker()">
</div>
<form class="comment-form" (submit)="onAddComment()">
    <fa-icon (click)="onToggleEmojiPicker()" [icon]="faFaceSmile"></fa-icon>
    <div class="emoji-picker-container" *ngIf="isEmojiPickerShown">
        <emoji-mart [style]="{position:'relative'}" (emojiClick)="onAddEmoji($event)">
        </emoji-mart>
    </div>
    <input class="txt-input" type="text" placeholder="Add a comment..." [(ngModel)]="commentText" name="commentTxt" autocomplete="off">
    <button class="clean-btn" [class.txt-in-input]="commentText" [class.z-index-20]="isEmojiPickerShown"
        type="submit">post</button>
</form>