@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

.comment-form {
    display: flex;
    align-items: center;
    gap: rem(10px);
    position: relative;
    width: 95%;
    height: rem(40px);
    padding: 0 rem(25px);
    background-color: var(--primary-bg);
    margin: 0 auto;

    border-radius: 5px;

    fa-icon {
        font-size: rem(24px);
    }

    .txt-input {
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--primary-bg);

    }

    ::placeholder {
        font-size: rem(16px);
        color: var(--secondary-color);
    }

    .emoji-picker-container {
        position: absolute;
        top: -1050%;
        left: 10%;
        z-index: 20;
    }

    button {
        color: var(--secondary-button);
        text-transform: capitalize;
        font-weight: 600;
        cursor: pointer;

        &.txt-in-input {
            color: var(--primary-button);
        }
    }


}