@import '../../../assets/styles/setup/functions';

.img-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(5px);
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%);
    font-size: rem(6px);
    color: var(--primary-dot);
    transition: 0.5s;
}