@import '../../../assets/styles/setup/functions';

.quick-reaction {
    position: relative;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        text-transform: capitalize;
        font-size: rem(20px);
        color: white;
        margin-bottom: rem(25px);
    }

    .reaction-list {
        display: grid;
        grid-template-columns: repeat(4, rem(35px));
        gap: rem(20px);
        position: relative;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;

        .reaction {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: rem(35px);
            cursor: pointer;
        }
    }
}