@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

.post-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: rem(15px);
    margin-bottom: rem(80px);
    
    &.for-mini-preview {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: 0.5%;
        grid-template-rows: 1fr;
        align-items: unset;
        justify-content: unset;
        width: 100%;
        margin-bottom: rem(20px);
    }
    
    @include for-extra-small-layout {
        
        &.for-mini-preview {
            grid-template-columns: repeat(3, 32%);
            gap: 2%;
        }
    }

    @include for-large-layout {

        &.for-mini-preview {
            gap: rem(20px);
            grid-template-columns: repeat(3, minmax(rem(200px), rem(300px)));
        }
    }
}