@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';

.post-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: rem(10px);

    &.for-mini-preview {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        gap: calc(1%/2);
        grid-template-rows: 1fr;
        align-items: unset;
        justify-content: unset;
        width: 100%;
    }

    @include for-extra-small-layout {


        &.for-mini-preview {
            $curr-width: calc(100% - rem(20px));
            $curr-size: calc($curr-width / 3);
            $curr-gap: calc($curr-width / 100);
            width: $curr-width;
            gap: $curr-gap;
            grid-template-columns: repeat(3, $curr-size);
        }
    }

    @include for-small-layout {

        &.for-mini-preview {
            gap: 5%;
            grid-template-columns: repeat(3, 30%);
        }
    }

    @include for-large-layout {

        &.for-mini-preview {
            gap: rem(20px);
            grid-template-columns: repeat(3, minmax(rem(200px), rem(300px)));
        }
    }
}