@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

.notifications {
    @include page;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .notifications-header {
        @include mobile-header;
    }

    .notifications-main-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: rem(20px);

        .no-notifications-msg-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            margin-bottom: rem(80px);

            .no-notifications-msg-container {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                font-size: rem(20px);
                font-weight: 600;
                color: var(--secondary-color);
                text-align: center;
            }
        }
    }

    @include for-small-layout {
        .notifications-header {
            display: none;
        }
    }
}