<section class="notifications">

    <header class="notifications-header">
        <fa-icon [icon]="faChevronLeft" (click)="onGoBack()"></fa-icon>
        <h1>Notifications</h1>
        <div></div>
    </header>

    <main class="notifications-main-container" *ngIf="(notifications$|async) as notifications">
        <notification-list [notifications]="notifications"
            *ngIf="notifications.length; else noNotificationsMsg"></notification-list>
        <ng-template #noNotificationsMsg>
            <div class="no-notifications-msg-container">
                <h1 class="no-notifications">No notifications yet.</h1>
            </div>
        </ng-template>
    </main>
</section>