
@import '../../../assets/styles/setup/functions';

::ng-deep .post-app {
    display: flex;
    align-items: flex-start;
    gap: rem(25px);
    height: 100%;
    width: 100%;
    // max-width: rem(470px);
    
    .main-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(25px);
        // height: 100%;
        width: 100%;
        max-width: rem(470px);
    }
    
    .user-list-container{
        padding-top: rem(100px);
        .user-preview{
            .img-container{
                width: rem(50px);
                height: rem(50px);
            }
        }
    }
}