@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';


.story {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .img-container {
        height: rem(55px);
        width: rem(55px);

        img {
            border-radius: 50%;
        }
    }
}