@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

::ng-deep .homepage {
    @include page;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    .post-app {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(25px);
        height: 100%;
        width: 100%;
        margin-top: rem(150px);

        .main-container {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: rem(25px);
            height: 100%;
            width: 100%;
            max-width: rem(470px);
        }

        .user-list-container {
            display: none;
        }
    }

    @include for-small-layout {
        .post-app {
            margin-top: rem(30px);
        }
    }

    @include for-large-layout {
        .post-app {
            flex-direction: row;
            justify-content: center;
            align-items: unset;
            margin-top: rem(50px);

            .user-list-container {
                display: flex;
                flex-direction: column;
                gap: rem(25px);
                padding-top: rem(100px);
                min-width: rem(320px);

                .user-preview {
                    gap: rem(15px);

                    .img-container {
                        width: rem(50px);
                        height: rem(50px);
                    }

                    .user-info {
                        width: rem(250px);
                        line-height: 1.1;

                        span {
                            font-weight: 600;
                        }
                    }
                }

                user-list {

                    min-height: rem(350px);
                }
            }
        }
    }
}