<section class="homepage main-layout">
    <main class="post-app">
        <div class="main-container">
            <story-list></story-list>
            <post-list [posts]="(posts$|async)!"></post-list>
        </div>
        <div class="user-list-container">
            <user-preview [user]="userService.getMiniUser(loggedinUser)" [type]="'no-story'"
                *ngIf="loggedinUser"></user-preview>
            <user-list [type]="'suggestion-list'" [users]="users"></user-list>
        </div>
    </main>
    <router-outlet></router-outlet>
</section>