<section class="user-preview"  (click)="setWatchedStory()" [class.is-watched]="isWatched"
    [class.is-curr-story]="type==='curr-story'" [class.user-story]="title === 'Your story'">
    <div class="img-container" routerLink="{{urlForImg}}">
        <img src={{user.imgUrl}} alt="user-img">
        <div class="plus-circle-container" *ngIf="isStoryEdit">
            <svg-icon src="../../../assets/svgs/plus-circle.svg"></svg-icon>
        </div>
    </div>
    <section class="user-info">
        <h3 routerLink="{{urlForTitle}}">{{title}}</h3>
        <div *ngIf="location">
            <p class="location" *ngIf="location.name" routerLink="{{urlForLocation}}">{{location.name}}</p>
        </div>
    </section>
</section>