@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';


.user-preview {
    display: flex;
    align-items: center;
    gap: rem(5px);
    cursor: pointer;

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        // *************** user img circle  ***************
        background: linear-gradient(white, white) padding-box,
        linear-gradient(to bottom left, var(--primary-icon-color), var(--secondary-icon-color)) border-box;
        border-radius: 50%;
        border: 2px solid transparent;
        padding: rem(2px);
        
        img {
            border-radius: 50%;
        }
    }
    
    .user-info {
        h3 {
            text-transform: lowercase;
            font-size: rem(14px);
            margin: 0;
        }

        p {
            font-size: rem(12px);
            margin: 0;
        }
    }

    &.is-watched {
        .img-container {
            background: linear-gradient(white, white) padding-box,
                linear-gradient(to bottom left, var(--border-color), var(--border-color)) border-box;
        }
    }

    &.is-curr-story {
        .img-container {
            border: none;
            background: none;
            padding: 0;
        }
    }
}