:root {

    // COLORS
    --primary-bg: white;
    --secondary-bg: rgb(250, 250, 250);
    --primary-color: rgb(38, 38, 38);
    --border-color: rgb(219, 219, 219);

    // FONTS
    --primary-font: roboto;
    --secondary-font: pacifico;
}

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 530px;
$break-normal: 760px;
$break-wide: 1000px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;