@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';

::ng-deep .story-list-container {

    position: relative;
    width: clamp(rem(370px), 100%, rem(470px));
    background-color: var(--secondary-bg);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: rem(15px);
    overflow-x: hidden;
    margin-top: rem(20px);

    .story-list {
        position: relative;
        display: flex;
        align-items: flex-end;
        gap: rem(7.5px);
        transition: 0.3s;

        >*:first-child {
            .story-preview .for-home-page {
                .user-preview {
                    .user-info {
                        .title {
                            font-size: rem(12.5px);
                        }
                    }
                }
            }

        }

        .user-preview {
            flex-direction: column;
            gap: rem(2px);

            .img-container {
                height: rem(70px);
                width: rem(70px);
            }

            .user-info {
                text-align: center;
                width: rem(70px);
                line-height: 1;
            }
        }
    }

    .btn-pagination {
        top: 27.5%;

        fa-icon {
            font-size: rem(28px);
            color: white;
        }

        &.prev {
            left: 7.5%;
        }

        &.next {
            left: 95%;
        }
    }
}

::ng-deep .details-story-list {
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    gap: rem(15px);
    width: 100%;

    .img-container {
        height: rem(60px);
        width: rem(60px);
        margin-right: rem(10px);
    }

    ul {
        display: flex;
        align-items: center;
        overflow-x: hidden;
        gap: rem(85px);
    }

    .pre-story-list {
        justify-content: flex-end;

    }

    .post-story-list {
        justify-content: flex-start;
    }
}