@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

::ng-deep .home-page-story-list-container {

    position: relative;
    width: clamp(rem(370px), 100%, rem(470px));
    background-color: var(--secondary-bg);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: rem(15px);
    overflow-x: hidden;
    margin-top: rem(20px);

    .story-list {
        position: relative;
        display: flex;
        align-items: flex-end;
        gap: rem(7.5px);
        transition: 0.3s;

        >*:first-child {
            .story-preview .for-home-page {
                .user-preview {
                    .user-info {
                        .title {
                            font-size: rem(12.5px);
                        }
                    }
                }
            }

        }

        .user-preview {
            flex-direction: column;
            gap: rem(2px);

            .img-container {
                height: rem(70px);
                width: rem(70px);
            }

            .user-info {
                text-align: center;
                width: rem(70px);
            }
        }
    }

    .btn-pagination {
        top: 27.5%;

        fa-icon {
            font-size: rem(28px);
            color: white;
        }

        &.prev {
            left: 7.5%;
        }

        &.next {
            left: 95%;
        }
    }
}

::ng-deep .details-story-list {
    display: flex;
    width: 100%;
    height: 100%;

    .img-container {
        height: rem(60px);
        width: rem(60px);
    }


    .pre-story-list,
    .post-story-list {
        display: none;
    }

    @include for-large-layout {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        gap: rem(15px);
        width: 100%;

        .img-container {
            height: rem(60px);
            width: rem(60px);
        }

        .pre-story-list,
        .post-story-list {
            display: flex;
            align-items: center;
            overflow-x: hidden;
            gap: rem(85px);
        }

        .pre-story-list {
            justify-content: flex-end;
        }

        .post-story-list {
            justify-content: flex-start;
        }
    }

    @include for-extra-large-layout {
        grid-template-columns: 2fr 3fr 2fr;

        .pre-story-list,
        .post-story-list {
            gap: 7.5vw;
        }
    }

    @include for-extra-extra-large-layout {
        grid-template-columns: 3fr 4fr 3fr;

        .pre-story-list,
        .post-story-list {
            gap: rem(100px);
        }
    }
}


.highlight-story-picker-list {

    .story-list {
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto-fit, rem(265px));

        li {
            position: relative;

            checkbox {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;
                margin: 0 rem(5px) rem(5px) 0;
            }
        }
    }
}

.profile-details-list{
    .story-list {
        display: flex;
    }
}