    <div class="story-list-container" *ngIf="!currStory; else forStoryDetails">
        <ul class="story-list" [style.left]="listPosition">
            <li *ngIf="isLinkToStoryEdit">
                <story-preview [isLinkToStoryEdit]="true"></story-preview>
            </li>
            <li *ngFor="let story of stories">
                <story-preview [story]="story" [isHighlight]="isHighlight"></story-preview>
            </li>
        </ul>
        <pagination-btns [isPaginationBtnShown]="isPaginationBtnShown" (prevItem)="onScrollStory($event)"
            (nextItem)="onScrollStory($event)"></pagination-btns>
    </div>

    <ng-template #forStoryDetails>
        <div class="details-story-list">
            <ul class="pre-story-list">
                <li *ngFor="let story of preCurrStoryList">
                    <story [story]="story"></story>
                </li>
            </ul>

            <story [story]="currStory" [nextStory]="postCurrStoryList[0]" [isCurrStory]="true"
                [isPaginationBtnShown]="isPaginationBtnShown" (setPrevStory)="onSetCurrStory($event)"
                (setNextStory)="onSetCurrStory($event)"></story>

            <ul class="post-story-list">
                <li *ngFor="let story of postCurrStoryList">
                    <story [story]="story"></story>
                </li>
            </ul>
        </div>
    </ng-template>