@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';

::ng-deep .story-list-container {

    position: relative;
    width: rem(470px);
    background-color: var(--secondary-bg);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    padding: rem(15px);
    margin-top: rem(30px);
    overflow-x: hidden;


    .story-list {
        position: relative;
        display: flex;
        align-items: flex-end;
        gap: rem(15px);
        transition: 0.3s;

        .user-preview {
            flex-direction: column;

            .img-container {
                height: rem(60px);
                width: rem(60px);
            }
        }
    }

    .btn-pagination {
        top: 30%;

        fa-icon {
            font-size: rem(20px);
            color: white;
        }
    }
}

::ng-deep .details-story-list {
    display: grid;
    grid-template-columns: 400px 1fr 400px;
    gap: rem(15px);
    width: 100%;

    .img-container {
        height: rem(60px);
        width: rem(60px);
        margin-right: rem(10px);
    }

    ul {
        display: flex;
        align-items: center;
        overflow-x: hidden;
        gap: rem(85px);
    }

    .pre-story-list {
        justify-content: flex-end;

    }

    .post-story-list {
        justify-content: flex-start;
    }
}