<section class="profile-details main-layout" *ngIf="user">
    <main class="main-container">

        <div class="user-details">
            <div class="img-container">
                <img [src]="user.imgUrl" alt="Avatar">
            </div>

            <div class="user-details-main-container">
                <div class="user-name-container">
                    <h2>{{user.username}}</h2>
                    <a class="edit-link" [routerLink]="['/profile-edit/',user.id]">Edit profile</a>
                </div>
                <div class="info">
                    <p><span>{{user.createdPostsIds.length}} </span> posts</p>
                    <p><span>{{user.followers.length}} </span> followers</p>
                    <p><span>{{user.following.length}} </span> following</p>
                </div>

                <h1>{{user.fullname}}</h1>
            </div>

        </div>

        <div class="post-filter">
            <div class="btns-cotnainer">
                <div [class.active]="filterBy.createdPosts">
                    <svg-icon src="../../../assets/svgs/posts-rect.svg"
                        [svgStyle]="{ 'display':'flex','color': filterBy.createdPosts ? '#262626' : '#8e8e8e'}">
                    </svg-icon>
                    <button class="clean-btn" (click)="onSetFilter('createdPosts')">posts</button>
                </div>
                <div [class.active]="filterBy.savedPosts">
                    <svg-icon src="../../../assets/svgs/bookmark-outline.svg"
                        [svgStyle]="{ 'display':'flex' ,'color': filterBy.savedPosts ? '#262626' : '#8e8e8e'}">
                    </svg-icon>
                    <button class="clean-btn" (click)="onSetFilter('savedPosts')">saved</button>
                </div>
                <div [class.active]="filterBy.taggedPosts">
                    <svg-icon src="../../../assets/svgs/rect-user-tag.svg"
                        [svgStyle]="{ 'display':'flex' ,'color': filterBy.taggedPosts ? '#262626' : '#8e8e8e'}">
                    </svg-icon>
                    <button class="clean-btn" (click)="onSetFilter('taggedPosts')">tagged</button>
                </div>
            </div>
        </div>

        <post-list [posts]="(posts$|async)!" [isMiniPreview]="true"></post-list>
    </main>
</section>