@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

.side-bar {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    left: 0;
    height: rem(50px);
    width: 100%;
    background-color: var(--secondary-bg);
    border-top: 2px solid var(--border-color);
    transition: 0.5s;
    z-index: 10;

    header {
        display: none;
    }

    main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;

        .btn-notifications,
        .btn-search {
            display: none;
        }

        >* {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .icon-active {
                display: none;
            }

            .icon-unactive {
                display: flex;
            }

            &.active {

                .icon-active {
                    display: flex;
                }

                .icon-unactive {
                    display: none;
                }

                .user-img-container {
                    border-radius: 50%;
                    border: 1.5px solid var(--primary-color);
                }
            }

            .user-img-container {
                height: rem(24px);
                width: rem(24px);

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }

            }

            >span {
                display: none;
            }
        }
    }

    @include for-small-layout {
        flex-direction: column;

        top: 0;
        height: 100%;
        width: rem(75px);
        padding: rem(8px) rem(12px) rem(20px);
        border-top: none;
        border-right: 1px solid var(--border-color);

        header {
            display: flex;
            align-items: center;
            height: rem(73px);
            padding: rem(25px) rem(12px) rem(16px);
            margin-bottom: rem(19px);

            .logo {
                cursor: pointer;

                span {
                    display: none;
                }

                img {
                    height: rem(24px);
                    width: rem(24px);
                }
            }
        }

        main {
            position: relative;
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: rem(12px);
            flex-grow: 1;

            >* {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: rem(50px);
                width: 100%;
                padding: rem(12px);
                cursor: pointer;



                &.active {
                    font-weight: 600;
                    background-color: var(--primary-bg);
                    border-radius: 25px;
                }


                &:hover {
                    background-color: var(--primary-bg);
                    border-radius: 25px;
                }

            }

            .btn-notifications,
            .btn-search {
                display: flex;
            }

            .btn-search.active,
            .btn-notifications.active {
                width: rem(50px);
                height: rem(50px);
                justify-content: center;
                transition: 0.5s;
                border: 1.5px solid var(--border-color);
                border-radius: 50%;
            }


            .btn-create {
                color: var(--primary-color);
                font-family: var(--primary-font);
            }
        }

    }

    @include for-extra-large-layout{
        width: rem(244px);

        header {

            .logo {
                @include logo;


                span {
                    display: unset;
                }

                img {
                    display: none;
                }
            }
        }

        main {
            >* {
                >span {
                    display: unset;
                    padding-left: rem(16px);
                    font-size: rem(16px);
                    line-height: rem(24px);
                    text-transform: capitalize;
                }
            }
        }

        &.modal-state {
            justify-content: center;
            align-items: center;
            width: rem(70px);
            z-index: 20;
            transition: 0.5s;

            header {
                .logo {

                    img {
                        display: flex;
                    }

                    span {
                        display: none;
                    }
                }
            }

            main {
                >* {
                    >span {
                        display: none;
                    }
                }
            }
        }
    }

    .modal-container {
        position: absolute;
        top: 0;
        left: -150%;
        width: 100%;
        height: 100%;
        z-index: 20;
        transition: 0.5s;
    }
    
    
    &.modal-state {
        .modal-container {
            left: rem(70px);
            transition: 0.5s;
        }
    }
}

.post-edit-container{
    z-index: 20;
}