@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

.side-bar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: rem(244px);
    padding: rem(8px) rem(12px) rem(20px);
    background-color: var(--secondary-bg);
    border-right: 1px solid var(--border-color);
    transition: 0.5s;
    z-index: 5;


    header {
        display: flex;
        align-items: center;
        height: rem(73px);
        padding: rem(25px) rem(12px) rem(16px);
        margin-bottom: rem(19px);

        .logo {
            @include logo;
            cursor: pointer;
        }

        img {
            height: rem(24px);
            width: rem(24px);
            display: none;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        >* {
            display: flex;
            align-items: center;
            height: rem(24px);
            width: fit-content;
            padding: rem(12px);
            margin: rem(24px) rem(12px);
            cursor: pointer;

            .icon-active {
                display: none;
            }

            .icon-unactive {
                display: flex;
            }


            &.active {
                font-weight: 600;

                .icon-active {
                    display: flex;
                }

                .icon-unactive {
                    display: none;
                }

                .user-img-container {
                    box-sizing: unset;
                    background: linear-gradient(white, white) padding-box, black border-box;
                    border-radius: 50%;
                    border: 1.5px solid transparent;
                }
            }


            .user-img-container {
                height: rem(24px);
                width: rem(24px);

                img {
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                }

            }

            >span {
                padding-left: rem(16px);
                font-size: rem(20px);
                letter-spacing: rem(1px);
                line-height: rem(24px);
                text-transform: capitalize;
            }
        }

        .btn-search.active,
        .btn-notifications.active {
            box-sizing: unset;
            background: linear-gradient(white, white) padding-box, var(--border-color) border-box;
            padding: rem(10px);
            transition: 0.5s;
            border: 1.5px solid transparent;
            border-radius: 50%;
            margin: -rem(10px) 0;

        }


        .btn-create {
            color: var(--primary-color);
            font-family: var(--primary-font);
        }
    }

    .modal-container {
        position: absolute;
        top: 0;
        left: -150%;
        width: 100%;
        height: 100%;
        z-index: 20;
        transition: 0.5s;
    }

    &.modal-state {
        justify-content: center;
        align-items: center;
        width: rem(70px);
        z-index: 20;
        transition: 0.5s;

        header img {
            display: flex;
        }

        span {
            display: none;
        }

        .modal-container {
            left: rem(70px);
            transition: 0.5s;
        }
    }
}