@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';

.story-edit {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: white;
    z-index: 10;
    
    header {
        display: flex;
        align-items: flex-start;
        padding: rem(15px);
        
        .logo {
            @include logo;
            font-size: rem(40px);
            color: black;
        }
        
        svg-icon {
            font-size: rem(30px);
            color: black;
        }
        
        z-index: 10;
    }
    
    .input-file-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    
    
    &.edit-mode{
        background-color: var(--story-bg);

        header {
            .logo{
                color: white;

            }
        }

    }

   
}