@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

.story-edit {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 10;
    background-color: var(--primary-bg);

    .story-edit-header {
        display: none;
        transition: all 0.3s ease-in-out;
    }

    .input-file-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }

    &.edit-mode {
        background-color: var(--tertiary-color);

        header {
            .logo {
                color: white;
            }
        }
    }

    @include for-large-layout {
        .story-edit-header {
            display: flex;
            align-items: flex-start;
            position: absolute;
            top: 0;
            left: 0;
            padding: rem(15px);
            z-index: 10;

            .logo {
                @include logo;
                font-size: rem(40px);
                color: var(--primary-color);
            }

            svg-icon {
                font-size: rem(30px);
                color: black;
            }
        }
    }
}