@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

::ng-deep .recent-searches-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: rem(12px);

    >* {
        padding: rem(8px) rem(24px);
    }

    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        >* {
            font-size: rem(16px);
        }

        h2 {
            text-transform: capitalize;
        }

        .clear-btn {
            color: var(--primary-button);
            padding: 0;
            font-weight: 600;
            cursor: pointer;
        }
    }

    .recent-search-list {
        display: flex;
        flex-direction: column;
        gap: rem(8px);
        overflow-y: scroll;
        @include scrollbar-hidden;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;

            fa-icon {
                color: var(--secondary-color);
                cursor: pointer;
            }
        }

        .user-preview {
            .img-container {
                width: rem(50px);
                height: rem(50px);
            }
        }
    }

    .no-recent-searches-msg {
        position: relative;
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        color: var(--secondary-color);
    }
}