<section class="search-modal">
    <header>
        <h1>search</h1>
    </header>

    <div class="search-bar-container">
        <search-bar (searchFinished)="onSearchFinished($event)"></search-bar>
    </div>

    <search-results-list [searchResults]="searchResults" [isRecentSearchShown]="isRecentSearchShown"
        [isNoResults]="isNoResults" [recentSearches]="recentSearches" (close)="onCloseModal()"></search-results-list>

    <recent-search-list [isRecentSearchShown]="isRecentSearchShown" [isNoResults]="isNoResults"
        [recentSearches]="recentSearches" (close)="onCloseModal()"></recent-search-list>

</section>