@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

::ng-deep .story {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;

    .story-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .img-container {
            @include story-aspect-ratio(45vw);

            img {
                border-radius: 5px;
            }
        }

        .info {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .user-preview {
                flex-direction: column;
                align-items: center;

                .user-info {
                    width: rem(100px);
                }

                .img-container {
                    height: rem(75px);
                    width: rem(75px);
                }

            }
        }
    }

    .curr-story-container {
        display: flex;
        justify-content: center;
        position: relative;
        width: 100vw;
        height: 100vh;


        .curr-story {
            position: relative;
            display: flex;
            width: 100vw;
            height: 100vh;

            .timer-container {
                position: absolute;
                width: 100%;
                padding: rem(25px) rem(15px);
            }

            .img-container {
                height: 100%;
                width: 100%;

                img {
                    object-fit: contain;
                }
            }

            .pagination-screen {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;

                >* {
                    width: 100%;
                    height: 100%;
                }
            }

            .sent-msg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: rem(85px);
                padding: rem(15px);
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--primary-bg);
                border-radius: 5px;
                font-size: rem(20px);
                background-color: var(--primary-color);

            }


            .reply-actions-container {
                position: absolute;
                bottom: 0;
                width: 100%;

                .logged-in-user-story-actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: rem(5px) rem(15px);


                    .user-preview {
                        .img-container {
                            height: rem(50px);
                            width: rem(50px);
                        }

                        .user-info {
                            max-width: rem(200px);
                            color: white;

                            .title {
                                font-size: rem(18px);
                                font-weight: normal !important;
                            }
                        }

                    }

                    .ellipsis {
                        color: white;
                    }
                }
            }
        }

        .btn-pagination {
            display: none;
        }
    }

    @include for-extra-small-layout {
        .curr-story-container {
            .curr-story {
                .reply-actions-container {
                    .logged-in-user-story-actions {
                        .user-preview {
                            .user-info {
                                max-width: rem(150px);
                            }
                        }
                    }
                }
            }
        }
    }

    @include for-large-layout {

        .curr-story-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
            height: 100%;
            width: 100%;

            .curr-story {
                grid-column: 2;
                @include story-aspect-ratio(65vw);

                .img-container {
                    @include story-aspect-ratio(65vw);

                    img {
                        border-radius: 5px;
                        object-fit: cover;
                    }
                }

                .pagination-screen {
                    display: none;
                }
            }

            .btn-pagination {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                fa-icon {
                    color: var(--primary-pagination-button);
                    font-size: rem(30px);
                }

                &.prev {
                    justify-content: flex-end;
                    grid-column: 1;
                    grid-row: 1;
                    padding-inline-end: rem(15px);
                }

                &.next {
                    justify-content: flex-start;
                    grid-column: 3;
                    grid-row: 1;
                    padding-inline-start: rem(15px);
                }
            }
        }
    }


    @include for-extra-large-layout {

        .story-container {
            .img-container {
                @include story-aspect-ratio(24vw);
            }
        }

        .curr-story-container {
            .curr-story {
                @include story-aspect-ratio(62.5vw);

                .img-container {
                    @include story-aspect-ratio(62.5vw);
                }
            }
        }
    }

    @include for-extra-extra-large-layout {

        .story-container {
            .img-container {
                @include story-aspect-ratio(20vw);
            }
        }

        .curr-story-container {
            .curr-story {
                @include story-aspect-ratio(50vw);

                .img-container {
                    @include story-aspect-ratio(50vw);
                }
            }
        }
    }
}