<article class="story">

    <div class="story-container" *ngIf="!isCurrStory" [routerLink]="['/story/',story.id]">
        <div class="img-container">
            <img [src]="story.imgUrls[0]" alt="story-img">
        </div>
        <div class="info">
            <user-preview [user]="story.by" [type]="'story'"> </user-preview>
            <p>{{story.createdAt | formattedDate}}</p>
        </div>
    </div>

    <div class="curr-story-container" *ngIf="isCurrStory">

        <div class="curr-story">
            <div class="timer-container">
                <story-timer [currStory]="story" [nextStory]="nextStory" [isPlaying]="isPlaying"
                    [isUserStory]="isUserStory" (onSetImgUrl)="onSetCurrImgUrl($event)" [currImgIdx]="currImgIdx">
                </story-timer>
            </div>

            <div class="img-container">
                <img [src]="currImgUrl" alt="story-img">
            </div>

            <div class="pagination-screen">
                <div (click)="onSetCurrImgUrl(-1)"></div>
                <div (click)="onSetCurrImgUrl(1)"></div>
            </div>

            <div class="reply-actions-container">
                <div class="logged-in-user-story-actions" *ngIf="isUserStory; else msgEdit">
                    <user-preview [user]="story.by" [type]="'story'"> </user-preview>
                    <ellipsis (click)="onToggleOptionsModal()"> </ellipsis>
                </div>
                <ng-template #msgEdit>
                    <msg-edit [isStoryReply]="true" [story]="story"> </msg-edit>
                </ng-template>
            </div>
        </div>

        <div class="btn-pagination prev">
            <pagination-btn-prev *ngIf="isPaginationBtnShown.left" (click)="onSetCurrImgUrl(-1)"></pagination-btn-prev>
        </div>
        <div class="btn-pagination next">
            <pagination-btn-next *ngIf="isPaginationBtnShown.right" (click)="onSetCurrImgUrl(1)"></pagination-btn-next>
        </div>
    </div>

    <story-options-modal *ngIf="isOptionsModalShown" [story]="story" [loggedinUser]="loggedinUser" (closeModal)="onToggleOptionsModal()"></story-options-modal>
    <div class="main-screen dark-mode" *ngIf="isOptionsModalShown" (click)="onToggleOptionsModal()"></div>
</article>