<section class="user-preview" (click)="setWatchedStory()" [class.is-viewed]="isViewed"
    [class.is-no-story]="isStoryDisabled" [class.edit-story]="type==='link-to-story-edit'">
    <div class="img-container" routerLink="{{urlForImg}}" [class.disabled]="isUrlsDisabled">
        <img src={{user.imgUrl}} alt="user-img">
        <div class="plus-circle-container" *ngIf="type==='link-to-story-edit'">
            <svg-icon src="../../../assets/svgs/plus-circle.svg" [svgStyle]="{'backgroundColor':'white','borderRadius':'50%','border':'1px solid var(--primary-bg)'}"></svg-icon>
        </div>
    </div>
    <section class="user-info">
        <span class="title" [class.disabled]="isUrlsDisabled" routerLink="{{urlForTitle}}" >{{title}}</span>
        <div *ngIf="desc">
            <p class="desc" routerLink="{{urlForDesc}}">{{desc}}</p>
        </div>
    </section>
</section>