@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';


.user-preview {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(8px);
    cursor: pointer;

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: transparent;
        border: none;
        padding: 0;

        img {
            border-radius: 50%;
        }
    }

    >* {
        &.disabled {
            background: transparent;
            border: none;
            padding: 0;
            pointer-events: none;
            cursor: default;
        }
    }

    .user-info {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .title {
            font-weight: 600;
        }

        .desc {
            font-size: rem(12px);
            margin: 0;
        }

        >* {
            &.disabled {
                pointer-events: none;
                cursor: default;
            }
        }
    }

    &.story-viewed {
        .img-container {
            @include viewed-story-circle;
        }
    }

    &.story-not-viewed {
        .img-container {
            @include unviewed-story-circle;
        }
    }

    &.edit-story {
        .img-container {
            height: rem(60px);
            width: rem(60px);

            border: 1px solid transparent;

            .plus-circle-container {
                position: absolute;
                bottom: -5%;
                right: 0;
            }
        }
    }
}