<section class="user-preview" (click)="setWatchedStory()" [class.is-watched]="isWatched"
    [class.is-no-story]="isStoryDisabled" [class.edit-story]="type==='link-to-story-edit'">
    <div class="img-container" routerLink="{{urlForImg}}" [class.disabled]="isUrlsDisabled">
        <img src={{user.imgUrl}} alt="user-img">
        <div class="plus-circle-container" *ngIf="type==='link-to-story-edit'">
            <svg-icon src="../../../assets/svgs/plus-circle.svg"></svg-icon>
        </div>
    </div>
    <section class="user-info">
        <span routerLink="{{urlForTitle}}" [class.disabled]="isUrlsDisabled">{{title}}</span>
        <div *ngIf="desc">
            <p class="desc" routerLink="{{urlForDesc}}">{{desc}}</p>
        </div>
    </section>
</section>