@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';


.user-preview {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(8px);
    cursor: pointer;

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        // *************** user img circle  ***************
        // background: linear-gradient(white, white) padding-box,
        //     linear-gradient(to bottom left, var(--primary-icon-color), var(--secondary-icon-color)) border-box;
        // border-radius: 50%;
        // border: 2px solid transparent;
        // padding: rem(2px);

        @include unviewed-story-circle;

        img {
            border-radius: 50%;
        }
    }

    >* {
        &.disabled {
            pointer-events: none;
            cursor: default;
        }
    }

    .user-info {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .title {
            font-weight: 600;
        }

        .desc {
            font-size: rem(12px);
            margin: 0;
        }

        >* {
            &.disabled {
                pointer-events: none;
                cursor: default;
            }
        }
    }

    &.is-viewed {
        .img-container {
            // border: 1px solid transparent;
            // background: linear-gradient(white, white) padding-box,
            //     linear-gradient(to bottom left, var(--border-color), var(--border-color)) border-box;
            @include viewed-story-circle;
        }
    }

    &.is-no-story {
        .img-container {
            // border: none;
            // background: none;
            // padding: 0;
            @include no-story-circle
        }
    }

    &.edit-story {
        .img-container {
            height: rem(60px);
            width: rem(60px);

            border: 1px solid transparent;

            .plus-circle-container {
                position: absolute;
                bottom: -20%;
                right: 0;
            }
        }
    }
}