<section class="profile-options-modal">
    <header class="profile-options-modal-header">
        <fa-icon [icon]="faChevronLeft" (click)="onCloseModal()"></fa-icon>
        <h2>profile</h2>
    </header>

    <main class="profile-options-modal-btns-container">

        <button class="clean-btn">Edit profile</button>
        <button class="clean-btn">Change password</button>
        <button class="clean-btn">Change appearance</button>
        <button class="clean-btn">Logout</button>
    </main>
</section>