<section class="profile-options-modal">
    <header class="profile-options-modal-header">
        <fa-icon [icon]="faChevronLeft" (click)="onCloseModal()"></fa-icon>
        <h2>profile</h2>
        <div></div>
    </header>

    <main class="profile-options-modal-btns-container">

        <button class="clean-btn delete-btn" (click)=" onDeleteAccount()">Delete profile</button>
        <button class="clean-btn" (click)=" onGoToProfileEdit()">Edit profile</button>
        <button class="clean-btn" (click)="onToggleDarkMode()">Change appearance</button>
        <button class="clean-btn" (click)="onLogout()">Logout</button>
    </main>
</section>