@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';

.user-msg {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 15px;
    z-index: 20;
    transition: all 0.3s ease-in-out;
}