<article class="comment" *ngIf="comment">
    <div class="main-screen dark-mode" *ngIf="isCommentModalShown" (click)="onToggleCommentModal()"></div>
    <container-element [ngSwitch]="type">

        <div class="post-preview-comment-container" *ngSwitchCase="'post-preview'">
            <div class="comment-text-container">
                <span [routerLink]="['/profile/',comment.by.id]"> {{comment.by.username}} </span>
                <p class="comment-text" *ngIf="!isExpandTxt; else longTxt" [innerHTML]="comment.text| shortTxt | tag | mention:comment.mentions">
                    <button class="more-btn clean-btn" *ngIf="isLongTxt" (click)="onExpandTxt()">more</button></p>
                <ng-template #longTxt>
                    <p class="comment-text" [innerHTML]="comment.text| tag | mention:comment.mentions"> </p>
                </ng-template>
            </div>

            <div class="like-btn-container" *ngIf="!comment.isOriginalText">
                <like-icon [isLiked]="isLiked" (click)="onToggleLike()"></like-icon>
            </div>

        </div>


        <div class="post-details-comment-container" *ngSwitchCase="'post-details'">

            <div class="comment-avatar-container">
                <img class="comment-avatar" [src]="comment.by.imgUrl" alt="Avatar"
                    [routerLink]="['/profile/',comment.by.id]">
            </div>

            <div class="comment-main-container">
                <div class="comment-content-container">
                    <div class="comment-text-container">
                        <span class="username" [routerLink]="['/profile/',comment.by.id]"> {{comment.by.username}}
                        </span>
                        <p [innerHTML]="comment.text| shortTxt | tag | mention:comment.mentions"> </p>
                    </div>
                    <div class="comment-actions">
                        <span class="comment-date">{{comment.createdAt | formattedDate : 'short' }}</span>
                        <span class="comment-like-count" *ngIf="comment.likeSum">{{comment.likeSum}} likes</span>
                        <svg-icon *ngIf="isUserComment" class="ellipsis" src="../../../assets/svgs/ellipsis.svg"
                            (click)="onToggleCommentModal()"></svg-icon>
                        <comment-options-modal *ngIf="isCommentModalShown" (remove)="onRemoveComment()"
                            (close)="onToggleCommentModal()">
                        </comment-options-modal>
                    </div>
                </div>
            </div>

            <div class="like-btn-container" *ngIf="!comment.isOriginalText">
                <like-icon [isLiked]="isLiked" (click)="onToggleLike()"></like-icon>
            </div>
        </div>


        <div class="chat-post-preview-comment-container" *ngSwitchCase="'chat-post-preview'">
            <div class="comment-text-container">
                <span [routerLink]="['/profile/',comment.by.id]"> {{comment.by.username}} </span>
                <p class="comment-text" *ngIf="!isExpandTxt; else longTxt" [innerHTML]="comment.text| shortTxt | tag | mention:comment.mentions">
                    <button class="more-btn clean-btn" *ngIf="isLongTxt" (click)="onExpandTxt()">more</button></p>
                <ng-template #longTxt>
                    <p class="comment-text" [innerHTML]="comment.text| tag | mention:comment.mentions"> </p>
                </ng-template>
            </div>
        </div>
    </container-element>
</article>