<article class="comment">
    <div class="post-preview-comment-container">
        <div class="comment-text-container">
            <span [routerLink]="['/profile/',comment.by.id]"> {{comment.by.username}} </span>
            <p *ngIf="!isExpandTxt; else longTxt" [innerHTML]="comment.text| shortTxt | tag"><button
                    class="more-btn clean-btn" *ngIf="isLongTxt" (click)="onExpandTxt()">more</button></p>
            <ng-template #longTxt>
                <p [innerHTML]="comment.text| tag"> </p>
            </ng-template>
        </div>

        <div class="like-btn-container" *ngIf="!comment.isOriginalText">
            <like-icon [isLiked]="isLiked" (click)="onToggleLike()"></like-icon>
        </div>

    </div>


    <ng-template #forPostDetails>
        <div class="post-details-comment-container">

            <div class="comment-text-container">
                <span [routerLink]="['/profile/',comment.by.id]"> {{comment.by.username}} </span>
                <p> {{comment.text}} </p>
            </div>

            <ellipsis></ellipsis>
        </div>
    </ng-template>
</article>