@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/vars';
@import '../../../assets/styles/setup/mixins';

::ng-deep .comment {
    display: flex;
    align-items: center;

    .post-preview-comment-container {
        display: flex;
        justify-content: space-between;
        gap: rem(5px);
        align-items: center;
        width: 100%;
        
        .comment-text-container {
            display: flex;
            justify-content: center;
            gap: rem(2.5px);

            span {
                font-weight: 900;
                cursor: pointer;
            }

            p {
                word-break: break-word;
            }

            .more-btn {
                padding: 0;
                color: var(--secondary-color);
            }
        }
    }


    .post-details-comment-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .ellipsis {
            display: none;
        }

        &:hover {
            .ellipsis {
                display: flex;
            }
        }
    }
}