<section class="profile-details main-layout" *ngIf="user">
    <profile-details-header [user]="user" [isCurrUserLoggedInUser]="isCurrUserLoggedInUser" (openModal)="onToggleModal()"> </profile-details-header>
    <main class="main-container">
        <div class="user-details">
            <div class="img-container">
                <img [src]="user.imgUrl" alt="Avatar">
            </div>

            <div class="user-details-main-container">
                <div class="user-name-container">
                    <h2>{{user.username}}</h2>
                    <a class="edit-link" [routerLink]="['/profile-edit/',user.id]">Edit profile</a>
                </div>
                <div class="info">
                    <p><span>{{user.postSum}} </span> posts</p>
                    <p><span>{{user.followersSum}} </span> followers</p>
                    <p><span>{{user.followingSum}} </span> following</p>
                </div>

                <h1>{{user.fullname}}</h1>
            </div>

        </div>

        <div class="post-filter">
            <div class="btns-container">
                <button class="clean-btn" [class.active]="filterBy.createdPosts" (click)="onSetFilter('createdPosts')">
                    <svg-icon src="../../../assets/svgs/posts-rect.svg"
                        [svgStyle]="{ 'display':'flex','color': filterBy.createdPosts ? '#262626' : '#8e8e8e'}">
                    </svg-icon>
                    <span>posts</span>
                </button>
                <button class="clean-btn" [class.active]="filterBy.savedPosts" *ngIf="isCurrUserLoggedInUser" (click)="onSetFilter('savedPosts')">
                    <svg-icon src="../../../assets/svgs/bookmark-outline.svg"
                        [svgStyle]="{ 'display':'flex' ,'color': filterBy.savedPosts ? '#262626' : '#8e8e8e','height':12,'width':12}">
                    </svg-icon>
                    <span>saved</span>
                </button>
                <button class="clean-btn" [class.active]="filterBy.taggedPosts" (click)="onSetFilter('taggedPosts')">
                    <svg-icon src="../../../assets/svgs/rect-user-tag.svg"
                        [svgStyle]="{ 'display':'flex' ,'color': filterBy.taggedPosts ? '#262626' : '#8e8e8e'}">
                    </svg-icon>
                    <span>tagged</span>
                </button>
            </div>
        </div>

        <post-list [posts]="(posts$|async)!" [isMiniPreview]="true"></post-list>
    </main>

    <profile-options-modal *ngIf="isOptionsModalShown && isCurrUserLoggedInUser" [loggedinUser]="loggedinUser"
        (closeModal)="onToggleModal()"></profile-options-modal>
        
    <div class="main-screen dark-mode" *ngIf="isOptionsModalShown" (click)="onToggleModal()"></div>
</section>