@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';

::ng-deep .profile-details {
    @include page;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: var(--secondary-bg);



    .user-details {
        position: relative;
        display: grid;
        grid-template-columns: rem(100px) 1fr;
        grid-template-rows: repeat(4, auto);
        gap: rem(10px);
        width: 100%;

        .img-container {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            justify-content: flex-start;
            width: rem(80px);
            height: rem(80px);
            margin: rem(20px) 0 rem(20px) rem(15px);

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }

        .user-details-action-container {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: rem(20px) 0;

            .user-name {
                font-size: rem(20px);
            }

            .btn-edit {
                font-weight: 500;
                padding: 5px 7.5px;
                font-size: rem(14px);
                font-weight: bold;
                background-color: rgb(239, 239, 239);
                border-radius: 5px;
                max-width: rem(250px);
            }

            .btn-settings {
                display: none;
            }

        }

        .profile-details-user-info {
            grid-column: 1/3;
            grid-row: 2;
            display: flex;
            flex-direction: column;
            gap: rem(2.5px);
            margin: 0 0 rem(20px) rem(15px);
            line-height: 1;
            position: relative;
            width: calc(100% - rem(15px));

            .user-full-name {
                font-size: rem(14px);
                width: x;
            }

            .user-bio {
                position: relative;
                overflow: hidden;
                width: 100%;
            }
        }

        .hightlights-container {
            grid-column: 1/3;
            grid-row: 3;
            display: flex;
            margin-inline-start: rem(15px);

            .btn-highlights {
                display: flex;
                justify-content: center;
                align-items: center;
                width: rem(65px);
                height: rem(65px);
                border: 1px solid rgb(226, 226, 226);
                border-radius: 50%;
            }
        }

        .profile-details-user-stats {
            grid-column: 1/3;
            grid-row: 4;
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            gap: rem(10px);
            border-top: 1px solid var(--border-color);
            padding: rem(12px) 0;
            width: 100%;

            >* {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: rem(5px);
                line-height: 1;
                font-size: rem(14px);

                .stat-num {
                    font-weight: 600;
                }

                .stat-name {
                    color: var(--secondary-color);
                }
            }
        }
    }

    .profile-details-post-list-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;

        .post-filter {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            border-top: var(--border-color) 1px solid;

            .btns-container {
                display: flex;
                justify-content: center;
                gap: rem(10px);

                >* {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: rem(10px);
                    position: relative;
                    top: -0.5px;
                    padding: rem(10px) 0;


                    &.active {
                        border-top: black 1.5px solid;

                        span {
                            color: var(--primary-color);
                            font-weight: 600;
                            font-family: var(--primary-font);
                        }
                    }



                    span {
                        display: none;
                    }
                }
            }


        }

    }

    .main-screen {
        display: none;
    }

    @include for-extra-small-layout {

        .user-details {
            padding: 0 rem(25px);
            grid-template-columns: rem(175px) auto;
            grid-template-rows: repeat(4, auto);
            gap: 0 rem(10px);
            margin-bottom: rem(20px);

            .img-container {
                grid-column: 1;
                grid-row: 1/4;
                justify-content: center;
                align-items: center;
                width: rem(150px);
                height: rem(150px);
            }

            .user-details-action-container {
                grid-column: 2;
                grid-row: 1;
                height: fit-content;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                gap: rem(15px);

                .btn-edit {
                    width: rem(100px);
                    height: rem(35px);
                }

            }

            .profile-details-user-info {
                grid-column: 2;
                grid-row: 3;
                margin: 0 0 rem(20px) 0;

            }

            .hightlights-container {
                grid-column: 1/3;
                grid-row: 4;
            }

            .profile-details-user-stats {
                grid-column: 2;
                grid-row: 2;
                border-top: none;
                justify-content: flex-start;
                gap: rem(20px);

                >* {
                    flex-direction: row;

                    .stat-name {
                        color: var(--primary-color)
                    }
                }
            }

        }

        .profile-details-post-list-container {
            padding: 0 rem(10px);

            .post-filter {

                .btns-container {
                    >* {
                        span {
                            display: flex;
                            color: var(--secondary-color);
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }

    @include for-small-layout {
        padding: rem(60px) rem(20px) rem(20px) rem(45px);

        profile-details-header {
            display: none;
        }

        .user-details {
            .user-details-action-container {
                .btn-settings {
                    display: unset;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .main-screen {
            display: unset;
        }
    }

    @include for-large-layout {
        .user-details{

            width: 80%;
            max-width: rem(1000px);
        }
        
        .profile-details-post-list-container {
            width: 80%;
            max-width: rem(1000px);
        }
    }
}