@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';

.messages {
    @include page;
    flex-direction: column;


    .messages-header {
        @include mobile-header;

        h1 {
            text-transform: none;
        }
    }

    .chat-container-mobile-layout {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        background-color: var(--secondary-bg);

        >* {
            position: relative;
            width: 100%;
            height: 100%;
        }
    }

    .messages-main-container-for-small-layout {
        display: none;
    }

    @include for-small-layout {
        align-items: center;
        justify-content: center;

        .messages-header,
        .chat-list-container-mobile-layout,
        .chat-container-mobile-layout {
            display: none;
        }

        .messages-main-container-for-small-layout {
            position: relative;
            display: flex;
            height: 95%;
            width: 95%;
            max-width: rem(900px);

            background-color: var(--secondary-bg);
            border: 1px solid var(--border-color);

            .messages-chat-list-container {
                width: 40%;
                border-inline-end: 1px solid var(--border-color);

                .messages-chat-list-header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    height: rem(60px);
                    padding: 0 rem(20px);
                    background-color: var(--secondary-bg);
                    border-bottom: var(--border-color) solid 1px;
                    transition: all 0.5s ease-in-out;

                    h1 {
                        flex-grow: 1;
                        font-size: rem(20px);
                        font-weight: 600;
                        text-align: center;
                    }
                }
            }

            .chat-container {
                width: 60%;
                display: flex;
                position: relative;

                >* {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }

                .no-active-chat-msg {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: rem(5px);
                    color: var(--primary-color);

                    h1 {
                        font-size: rem(20px);
                        font-weight: 400;
                        text-align: center;
                        text-transform: capitalize;
                    }

                    p {
                        font-size: rem(14px);
                        color: var(--secondary-color);
                    }

                    .btn-send {
                        margin-top: rem(10px);
                        width: rem(120px);
                        height: rem(30px);
                        background-color: var(--primary-button);
                        color: white;
                        font-size: rem(14px);
                        font-weight: 600;
                        text-transform: capitalize;
                        border-radius: 5px;
                        transition: all 0.5s ease-in-out;

                        &:hover {
                            background-color: var(--button-hover);
                        }
                    }
                }
            }
        }
    }
}