@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';
@import '../../../assets/styles/setup/vars';

.profile-details-header.for-logged-in-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: rem(45px);
    padding: rem(15px);
    width: 100vw;
    border-bottom: 1px solid var(--border-color);
}

.profile-details-header {
    @include mobile-header;

    h1 {
        text-transform: none;
    }
}