<section class="highlights-modal" [class.name-edit-mode]="isHighlightNameEdit">

    <highlights-name-edit *ngIf="isHighlightNameEdit" (closeModal)="onCloseModal()"
        (addHightlightName)="onAddHighlightName($event)" [highlightName]="highlightName"></highlights-name-edit>

    <hightlights-story-picker *ngIf="isStoryPicker" (goBack)="onGoBack()" (storySelected)="onStorySelected($event)"
        (closeModal)="onCloseModal()"></hightlights-story-picker>


    <hightlights-cover-picker *ngIf="isCoverPicker" [story]="story" (goBack)="onGoBack()" (closeModal)="onCloseModal()"
        (coverSelected)="onCoverSelected($event)"></hightlights-cover-picker>
</section>