@import '../../../assets/styles/setup/functions';

.tag-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: rem(15px);
    padding: rem(10px) rem(20px);
    margin-bottom: rem(80px);
}