@import '../../../assets/styles/setup/functions';
@import '../../../assets/styles/setup/mixins';


.login-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .img-bg {
        display: none;

        @include for-extra-large-layout{
            display: flex;
            position: relative;
            background-image: url('https://static.cdninstagram.com/rsrc.php/v3/y4/r/ItTndlZM2n2.png');
            background-repeat: no-repeat;
            height: rem(588px);
            width: rem(480px);
            margin: 0 rem(20px) rem(32px) 0;

            .animation-img {
                position: absolute;
                top: 4%;
                left: 32.7%;
                height: 538.84px;
                width: 250px;
                border: 0;
                padding: 0;
                margin: 0;
            }
        }
    }

    .login-signup,
    .login-signup-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--secondary-bg);
        border: 1px solid var(--border-color);
        border-radius: 1px;
        width: rem(350px);
    }

    .login-signup {
        padding-block-end: rem(35px);
        margin-block-end: rem(12px);

        .logo {
            @include logo;
            margin: rem(36px) 0 rem(12px);
        }

        .form {
            display: flex;
            flex-direction: column;
            margin: rem(24px) 0 rem(10px);
            width: 100%;

            >input {
                font-size: rem(14px);
                line-height: rem(36px);
                color: var(--secondary-color);
                background-color: var(--primary-bg);
                border: 1px solid var(--border-color);
                outline: none;
                padding: rem(9px) 0 rem(7px) rem(8px);
                margin: 0 rem(40px) rem(10px);
            }

            .btn-login {
                font-size: rem(15px);
                font-weight: 500;
                text-align: center;
                line-height: rem(18px);
                color: var(--secondary-bg);
                background-color: var(--primary-button);
                border: 1px solid transparent;
                border-radius: rem(4px);
                padding: rem(7px) rem(9px);
                margin: rem(8px) rem(40px);
                opacity: 1;
                cursor: pointer;

                &:disabled {
                    opacity: 0.5;
                }
            }
        }
    }

    .login-signup-link {
        padding: rem(15px) 0;
        margin: 0 0 rem(10px);

        span {
            font-size: rem(15px);
            line-height: rem(18px);

            a {
                color: var(--primary-button);
                cursor: pointer;
            }
        }
    }
}