<!-- <div class="img-setting-modal" *ngIf="isImgSettingModalOpen">
    <h1>Change Profile Photo</h1>
    <div class="btn-cotnainer">
        <button class="btn-upload clean-btn" (click)="file.click()">Upload Photo</button>
        <input type="file" class="img-input" #file id="img-input" (change)="onImgChange($event)"
            style="display:none">
        <button class="btn-remove clean-btn" (click)="onRemoveImg()">Remove Current Photo</button>
        <button class="btn-cancel clean-btn" (click)="onToggleModal()">Cancel</button>
    </div>
</div> -->